[2016-08-04 13:25] awkawk opened #1 "New SC: [SC Title]"
## SC Shortname

This is the short name for the SC (e.g. "Non-text Content" is the short name for SC 1.1.1 in WCAG 2.0)
## SC Text

This is the text of the Success Criterion.

If suggesting a wording change to an existing success criteria, write the complete SC text and then follow that with a version which indicates the changes by surrounding new text with "@@". For example (just an example):
###

[2016-08-04 13:34] awkawk commented on #1
This issue is a sample for proposal-submitters to model.  Please do not close this issue.

[2016-08-14 02:38] DavidMacDonald opened #2 "New SC Proposal: Programmatic notification is provided for each change in content that indicates an action was taken or that conveys information"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/change-of-content_ISSUE-2/guidelines/sc/21/change-of-content.html) | [SC for editing](https://github.com/w3c/wcag21/blob/change-of-content_ISSUE-2/guidelines/sc/21/change-of-content.html)
- [Change of Content definition for viewing](https://rawgit.com/w3c/wcag21/change-of-content_ISSUE-2/guidelines/terms/21/c

[2016-08-14 03:02] DavidMacDonald opened #3 "New SC proposal: After initial page load, programmatic notification is provided for each visual indicator that content is loading or the page is busy."
# Short Name

Notification of Loading/Busy:
# SC Text

After initial page load, programmatic notification is provided for each visual indicator that content is loading or the page is busy or change of screen orientation.
# Suggested Priority Level

Level AA
# Related Glossary additions or changes

**Programmatic notification:** Notification by software from data provided in a user-agent-supported

[2016-08-26 14:04] LivioMo commented on #2
There is a situation where WCAG 2 are difficult to understand and/or test: JS scripts not available for any reason. Some technicians don't try pages with JS disabled, so if a content disappear they don't see and the page is nominee accessible, but is not true...

[2016-09-08 14:11] awkawk opened #4 "test"
<h2>Hello</h2>
<p>jfkjdskfld</p>

[2016-09-08 14:13] #4 closed

[2016-09-08 14:29] lseeman opened #5 "Support Personalization"
<h2>Support Personalization</h2>
<p>Enable <a href="https://rawgit.com/w3c/coga/master/extension/index.html#dfn-personalization">personalization</a></strong>:  Contextual information and author settable properties of regions and elements  are programatically determinable so that <a data-link-type="dfn" href="https://rawgit.com/w3c/coga/master/extension/index.html#dfn-personalization">personalizati

[2016-09-08 14:50] lseeman opened #6 "Support Personalization"
# Current versions of SC and Definitions

- [AA SC for viewing](https://rawgit.com/w3c/wcag21/support-personalization_ISSUE-6/guidelines/sc/21/purpose-of-controls.html) |  [AA SC for editing](https://github.com/w3c/wcag21/blob/support-personalization_ISSUE-6/guidelines/sc/21/purpose-of-controls.html)
- [AAA SC for viewing](https://rawgit.com/w3c/wcag21/support-personalization_ISSUE-6/guidelines/sc

[2016-09-08 14:52] #5 closed

[2016-09-08 17:23] lseeman opened #7 "Small change to 3.1"
## SC Shortname

content (was text)

## SC Text

### Current:

Guideline 3.1: Make text content readable and understandable.

### Proposed:

Guideline 3.1: Make content readable and understandable.

(the word "text" is removed)

## Suggestion for Priority Level (A/AA/AAA)

N/A it is a guideline

## Related Glossary additions or changes

NA

## What Principle and Guideline the SC falls within.

Pri

[2016-09-15 19:43] allanj-uaag opened #8 "Seeing All Interface Elements (LV)"
<body>

<h1 id="firstHeading" lang="en" xml:lang="en"><span dir="auto">Seeing All Interface Elements</span></h1>

<h2><span id="SC_Shortname">SC Shortname</span></h2>

<p>Seeing all elements. </p>

<h2><span id="SC_Text">SC Text</span></h2>

<p>Users can see and interact with all content and user interface controls presented visually. </p>

<h3><span id="Current:">Current:</span></h3>

<p>None </p

[2016-09-15 19:50] allanj-uaag opened #9 "Graphics Contrast"
## Current version of SC and Definitions
- [Current version for viewing](https://rawgit.com/w3c/wcag21/graphics-contrast_ISSUE-9/guidelines/sc/21/graphics-contrast.html) | [Current version for editing](https://github.com/w3c/wcag21/blob/graphics-contrast_ISSUE-9/guidelines/sc/21/graphics-contrast.html)
- [Definition of CSS pixels for viewing](https://rawgit.com/w3c/wcag21/graphics-contrast_ISSUE-9

[2016-09-15 19:52] allanj-uaag opened #10 "User Interface Component Contrast (Minimum)"
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body>
<h2>Current versions of SC and Definitions</h1>
<ul>
<li><a href="https://rawgit.com/w3c/wcag21/user-interface-component-contrast-minimum_ISSUE-10/guidelines/sc/21/user-interface-component-contrast-minimum.html">SC for viewing</a> | <a href="https://github.com/w3c/wcag21/blob/user-interfac

[2016-09-15 19:54] allanj-uaag opened #11 "Text Size (LV)"
<body>

<h2><span id="SC_Shortname">SC Shortname</span></h2>

<p>Text Size </p>

<h2><span id="SC_Text">SC Text</span></h2>

<p>Except   for images of text, text can be resized without assistive technology up   to the user agent maximum without loss of content and functionality. </p>

<h3><span id="Current_WCAG_1.4.4">Current WCAG 1.4.4</span></h3>

<p>Except   for captions and images of text, tex

[2016-09-15 19:57] allanj-uaag opened #12 "Size (all content) (LV)"
<body>

<h2><span id="SC_Shortname">SC Shortname</span></h2>

<p>Size (all content) </p>

<h2><span id="SC_Text">SC Text</span></h2>

<p>Users can change the size of all content. </p>

<h3><span id="Current:">Current:</span></h3>

<p>None </p>

<h3><span id="Proposed:">Proposed:</span></h3>

<p>Add the following bullet to 1.4.8 Visual Presentation: </p>

<blockquote>
  <p>Users can change the size

[2016-09-18 08:35] lseeman opened #13 "Minimize User Errors"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/minimize-user-errors_ISSUE-13/guidelines/sc/21/minimize-user-errors.html) | [SC for editing](https://github.com/w3c/wcag21/blob/minimize-user-errors_ISSUE-13/guidelines/sc/21/minimize-user-errors.html)
- [Common Input Error definition for viewing](https://rawgit.com/w3c/wcag21/minimize-user-errors_ISSUE-13/gu

[2016-09-18 08:37] lseeman opened #14 "Timeouts"
-  [ SC for viewing](https://rawgit.com/w3c/wcag21/timeouts_ISSUE-14/guidelines/sc/21/timeouts.html) | [SC for editing](https://github.com/w3c/wcag21/blob/timeouts_ISSUE-14/guidelines/sc/21/timeouts.html)
-   [ understandable language definition for viewing](https://rawgit.com/w3c/wcag21/timeouts_ISSUE-14/guidelines/terms/21/understandable-language.html) | [understandable language definition for e

[2016-11-02 20:09] DavidMacDonald opened #15 "Narrowing failures of 4.1.1 duplicate id's"
I think there is a fair amount of agreement that many identical id circumstances don't affect accessibility. For WCAG next do we want to limit that failure to circumstances where the id is referenced by something that shows up in the Accessible API, such as aria references, and HTML labels etc.

[2016-11-03 14:22] mattgarrish opened #16 "Request to consider inclusion of accessibility metadata"
At the end of the joint call we had about digital publication issues on October 25, the digital publishing side were asked to raise the issue of the inclusion of discovery metadata for further discussion. To kick that discussion off, I'd like to provide some background.

Schema.org currently contains a set of four properties under [CreativeWork](http://schema.org/CreativeWork) that allow the expre

[2016-11-03 14:28] mattgarrish opened #17 "Request to clarify relationship of guidelines to web content-based publications"
Another significant item for digital publications that came out of the discussion on October 25th is how to understand and apply WCAG in relation to a publication that is comprised of multiple documents (e.g., where you have one "web page" per chapter).

For the EPUB accessibility specification, a lot of our effort went into [explaining an EPUB publication](http://www.idpf.org/epub/a11y/#sec-wcag-

[2016-11-03 15:08] jasonjgw commented on #16
I think the best way to support metadata in WCAG would be as an optional means of reporting conformance. This would require the use of standard metadata properties for asserting conformance to WCAG at a specific level. It may also be desirable to allow for reporting of success criteria satisfied at the next level beyond that at which conformance is claimed.

I don't think use cases in which non-co

[2016-11-03 15:33] jasonjgw commented on #17
If I place my digital publication on a Web server as an archived package, e.g., https://example.org/publication.epub then it appears to satisfy the current definition of "Web page", which reads in part:

and the remainder of the definition adds any external resources that would be retrieved in the rendering process.

However, if I extract the archive on the server and make its contents available,

[2016-11-03 15:33] mattgarrish commented on #16
Agreed, I don't think the failing case that EPUB addresses is applicable here, and I wouldn't see it as a recommendation to include even if content fails, as we've done. The request is more a question of whether the additional discoverability value for users searching for content is sufficiently beneficial. And it may be the case that not all the properties have value for fully-conforming content.

[2016-11-03 20:28] jasonjgw commented on #16
If a requirement is sufficiently important to guide a user's searching
activity and therefore to be expressed in metadata, then surely it is also
valuable enough to be included in WCAG success criteria, even if only at Level
AAA.

Thus, I can't think of a good case for describing an accessibility-relevant
property in metadata, but deciding not to have a corresponding WCAG success
criterion to addr

[2016-11-03 23:24] mattgarrish commented on #16
Maybe I'm misunderstanding, but the accessibilityFeature property allows that now. Most of the values reflect WCAG success criteria, like alternative text, extended descriptions, captions, transcripts, tables of contents, etc. The list could always be expanded to be more comprehensive, if there are significant gaps.

There are some values that aren't pertinent to WCAG, of course, but not everythin

[2016-11-04 18:44] madeleinerothberg commented on #16
It is true that WCAG conformance reporting is an important use case in some settings. But in many years of metadata development efforts aimed at directly helping consumers who wish to locate accessible materials, while we considered creating WCAG point-by-point conformance metadata, we felt it would be useless to consumers who don't know which checkpoint they need by its number; they just know the

[2016-11-04 22:04] jasonjgw commented on #16
In WCAG 2.0, under "Optional components of a conformance claim", we have:
"* A machine-readable metadata version of the list of specific technologies
that are relied upon.
* A machine-readable metadata version of the conformance
claim."

It would be possible to strengthen this to a required rather than an optional
component of the conformance claim. It would also be possible to specify a
prescribe

[2016-11-10 17:22] DavidMacDonald commented on #12
There is a friendly amendment here. https://www.w3.org/WAI/GL/wiki/Possible_wording_from_Jason/David_for_LVTF_re:_zoom_without_horizontal_scroll

[2016-11-11 00:57] DavidMacDonald commented on #11
"up to 200 percent @@the user agent maximum"

Huh? How can you exceed the user agent maximum with the user agent?

[2016-11-11 02:49] jnurthen commented on #11
Can someone explain how stating that it has to work up to the user agent maximum works in practice? If I develop content which conforms and then someone develops or extends a  user agent which allows a greater zoom level and now my content fails despite it being the same?
I don't think I can support this without there being a specific zoom level specified.

Regards,
James.

[2016-11-12 12:33] joshueoconnor commented on #17
Surveyed: https://www.w3.org/2002/09/wbs/35422/ACT_DPUB_Review_Nov_2016/

[2016-11-12 12:36] joshueoconnor commented on #16
Surveyed: https://www.w3.org/2002/09/wbs/35422/ACT_DPUB_Review_Nov_2016/

[2016-11-17 19:39] awkawk commented on #15
David, this sounds like a Silver issue since we can't change that WCAG 2.0 says "and any IDs are unique".

Would you agree?  If so, we should close this with the "defer to Silver" label.

[2016-11-17 19:43] awkawk commented on #2
@DavidMacDonald Is this still covered by M15? (doesn't seem to be)

[2016-11-18 14:46] alastc opened #18 "Animation from interactions"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/animation-from-interactions_ISSUE-18/guidelines/sc/21/animation-from-interactions.html) | [SC for editing](https://github.com/w3c/wcag21/blob/animation-from-interactions_ISSUE-18/guidelines/sc/21/animation-from-interactions.html)
- (Not used now, but keeping the text for: [Significant Animation definition for

[2016-11-18 16:15] alastc commented on #11
I think this one is defunct, the Resize all content and Reflow should cover the same use-cases and are (more) testable.

[2016-11-18 16:16] alastc commented on #12
I think this one needs replacing with Resize Content:
https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Size_of_all_elements

[2016-11-18 16:19] nattarnoff commented on #18
FYI: Typo under "Benefits"

I'm having a hard time following the logic in the testing. If 2 is true that the animation is not typically triggered by action, then wouldn't 1 be false?

I know we talked about "system" based animations like scrolling, selects opening, pickers, etc. that by their very nature have some animation. If 2 trying to work around those things? I can see a button doesn't norma

[2016-11-18 16:36] alastc commented on #18
Thanks, I find it really hard to type vestibular for some reason.

Part 2 of the testing is the hardest to word, but take parallax as an example. It is triggered by a user action (scroll), but it not typically triggered by that action (i.e. parallax is not the default for scrolling). So your last comment is correct, the movement of the page is typically triggered by scrolling, but the parallax asp

[2016-11-18 16:47] nattarnoff commented on #18
You aren't the only one who struggles to spell vestibular. I find spell checkers have an issue with it as well.

Ok, so I do understand it (not that I know how to word it). Obviously we could go so far as to define "typical" for controls, but as the platforms change that definition is going to change and the spec might not update soon enough.

##Attempt (thinking in type):
An item that typically m

[2016-11-18 16:52] alastc commented on #18
I think 'typical' is not a good word in this context (sorry), but the terms "essential" and "movement" are key to what we're getting at.

How about:
2 the animation includes movement that is not essential to the action, and

[2016-11-18 17:00] nattarnoff commented on #18
Yes, typical is a tough word to work around. So what does essential cover?

"My new design that has parallax scrolling in order to show the sides of the Mac Pro is essential. The concept just doesn't translate otherwise." - Some designer

"Changing the 'Submit' to 'Processing' with a moving processing meter is essential to letting the user know something is happening." - Another designer

"We have

[2016-11-18 17:05] alastc commented on #18
Essential is already defined in WCAG: https://www.w3.org/TR/WCAG20/#essentialdef

So I think that would cover the first, probably not the second or third. All are controlled and programmed by the author, it seems that the size and time-taken for the movement should be the limiting factors?

E.g. should it only apply to something that takes more than 1 second, and more than 1/3 of the view?

[2016-11-18 17:13] nattarnoff commented on #18
I'm researching the effects for a new talk and so far the action based animation questions would indicate that anything larger than 1/3 of the view would be problematic. I don't delve into timing, but I know for me, 1 second feels like a long time. I'd like more opinions before I suggest something shorter though.

[2016-11-18 17:29] alastc commented on #18
Ok, I've updated the SC, definition and testing to include 'significant animation. Please let me know if you have any advance on that based on feedback...

[2016-11-20 13:16] DavidMacDonald opened #19 "WCAG 2 should be clearer that for responsive sites, each breakpoint/view needs to be conforming, and different breakpoints can't be considered conforming alternatives"
Filing this here in addition to the WCAG 2 Repo https://github.com/w3c/wcag/issues/197.
As a fallback in case some feel it shouldn't be amended in 2.0... it is to clarify that a "Web Page" in WCAG means that every break point of that page needs to conform.

There was quite a long thread on the list, and this is the outcome of the discussion. I presented both Gregg and Loretta with this scenario

L

[2016-11-20 16:09] awkawk commented on #19
The WCAG21 issues area is for new SC proposals only. If you logged this elsewhere, great, closing it here.

[2016-11-20 16:10] #15 closed

[2016-11-21 14:00] alastc commented on #9
@allanj-uaag Could you edit the SC text so the bullet work please? It's rather difficult to read at the moment.

[2016-11-21 17:01] DavidMacDonald commented on #12
totally agree w/ Alestair

[2016-11-23 11:43] WilcoFiers commented on #10
I have a few issues and questions. Hope this helps!

- I think the scope of this should be changed. It makes sense for me that if you have an interactive bar graph, that the color contrast requirement there is different from that of a static image. But the way this criterion is formulated it's already applicable if this static image was part of a link. This feels pretty arbitrary. Not sure how to

[2016-11-23 11:52] WilcoFiers commented on #9
I left a lot of feedback on #10, most of which are applicable to this SC as well, so I won't repeat them.

I don't think explicitly mentioning the possibility of a conforming alternate version in this SC is right. It gives the impression that that might not be the case for other criteria. I would much prefer adding a note that points this out, if we want to mention it at all.

[2016-11-23 11:58] WilcoFiers commented on #2
You'll still need to fill this in.

[2016-11-23 15:10] lseeman opened #20 "Safety"
# Current versions of SC and Definitions

- [SC for viewing](https://rawgit.com/w3c/wcag21/safety_ISSUE-20/guidelines/sc/21/safety.html) | [SC for editing](https://github.com/w3c/wcag21/blob/safety_ISSUE-20/guidelines/sc/21/safety.html)

- [non-typical option definition for viewing](https://rawgit.com/w3c/wcag21/safety_ISSUE-20/guidelines/terms/21/non-typical-option.html) | [non-typical option def

[2016-11-23 15:31] lseeman opened #21 "task completion"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/task-completion_ISSUE-21/guidelines/sc/21/task-completion.html) | [SC for editing](https://github.com/w3c/wcag21/blob/task-completion_ISSUE-21/guidelines/sc/21/task-completion.html)
- [SC in full draft guideline](https://rawgit.com/w3c/wcag21/task-completion_ISSUE-21/guidelines/#task-completion)

## SC Shortn

[2016-11-24 07:59] lseeman opened #22 "Rewrite of 4.1.2 Name, Role, Value"
# Current versions of SC and Definitions

- [SC for viewing](https://rawgit.com/w3c/wcag21/name-role-value_ISSUE-22/guidelines/sc/21/name-role-value.html) | [SC for editing](https://github.com/w3c/wcag21/blob/name-role-value_ISSUE-22/guidelines/sc/21/name-role-value.html)
- [Author-settable properties definition for viewing](https://rawgit.com/w3c/wcag21/name-role-value_ISSUE-22/guidelines/terms/2

[2016-11-24 11:49] lseeman opened #23 "accessible authentication"
## Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/accessible-authentication_ISSUE-23/guidelines/sc/21/accessible-authentication.html) | [SC for editing](https://github.com/w3c/wcag21/blob/accessible-authentication_ISSUE-23/guidelines/sc/21/accessible-authentication.html)
- [SC in full draft guideline](https://rawgit.com/w3c/wcag21/accessible-authentication_

[2016-11-24 15:01] lseeman opened #24 "Manageable blocks"
## Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/manageable-blocks_ISSUE-24/guidelines/sc/21/manageable-blocks.html) | [SC for editing](https://github.com/w3c/wcag21/blob/manageable-blocks_ISSUE-24/guidelines/sc/21/manageable-blocks.html)
- [SC in full draft guideline](https://rawgit.com/w3c/wcag21/manageable-blocks_ISSUE-24/guidelines/#manageable-blocks)

[2016-11-24 15:13] lseeman opened #25 "user information"
Links not working...
-  [ SC for viewing](https://rawgit.com/w3c/wcag21/user-information_ISSUE-25/guidelines/sc/21/user-information.html) | [SC for editing](https://github.com/w3c/wcag21/blob/user-information_ISSUE-25/guidelines/sc/21/user-information.html)
-  [ harm definition for viewing](https://rawgit.com/w3c/wcag21/user-information_ISSUE-25/guidelines/terms/21/harm.html) | [harm definition fo

[2016-11-24 15:24] lseeman opened #26 "Clear structure and relationships"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/clear-structure-and-relationships_ISSUE-26/guidelines/sc/21/clear-structure-and-relationships.html) | [SC for editing](https://github.com/w3c/wcag21/blob/clear-structure-and-relationships_ISSUE-26/guidelines/sc/21/clear-structure-and-relationships.html)
- [SC in full draft guideline](https://rawgit.com/w3c/wc

[2016-11-24 15:27] lseeman opened #27 "Clear Text and Voice"
<h2>SC Shortname: Clear Text and Voice</h2>
		        <h2>SC Text</h2>
		        <p><strong>clear text and voice:</strong> Provide clear typography (text and numbers), punctuation, and voice (speech) for readability and comprehension.</p>
<p>Exception: If a specific typography, punctuation, content (text or voice) is  essential.</p>
                <h2>Suggestion for Priority Level (A/AA/AAA)</h2>

[2016-11-24 18:15] lseeman opened #28 "Consistent Identification and Styles"
<h1>Consistent Identification @@ and <strong>Styles</strong></h1>
<h2>SC Text</h2>
<p><strong>Current:</strong><br>
  3.2.4 Consistent Identification:  Components that have the same functionality within a set of Web pages are  identified consistently. (Level AA) <br>
  <strong>Proposed:</strong></p>
<p><br>
  <strong>Consistent Identification @@and Styles@@: </strong>Components that have the same

[2016-11-24 18:21] lseeman opened #29 "Consistent Navigation"
<h1>Consistent Navigation</h1>
<h2>SC Text</h2>
<p><strong>Current:</strong><br>
3.2.3 Consistent Navigation: Navigational mechanisms that are repeated   on multiple Web pages within a set of Web pages occur in the same   relative order each time they are repeated, unless a change is initiated   by the user. (Level AA)</p>
<p><br>
  <strong>Proposed:</strong></p>
<p>3.2.3 Consistent Navigation: Na

[2016-11-27 09:15] lseeman commented on #24
Complex sentences with more than one comer and conjunction  become ambiguous. Machine translation and simplification algorithms are less likely to translate the meaning correctly and people are also likely to get confused. This ambiguity gets larger as the number of conjunctions and comers increase.  However there are concepts that are very hard express without both a conjunction and a comer. The

[2016-11-27 10:01] lseeman opened #30 "Plain language (Minimum)"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/plain-language-minimum_ISSUE-30/guidelines/sc/21/plain-language-minimum.html) | [SC for editing](https://github.com/w3c/wcag21/blob/plain-language-minimum_ISSUE-30/guidelines/sc/21/plain-language-minimum.html)
-  [Core vocabulary definition for viewing](https://rawgit.com/w3c/wcag21/plain-language-minimum_ISS

[2016-11-27 10:32] lseeman opened #31 "Consistent Cues"
<h2>SC Short name</h2>
		        <p><strong>Consistent Cues</strong></p>
		        <h2>SC Text</h2>
		        <p> Provide Consistent Cues:
	            Within a set of web pages, consistent cues are provided that identify different content types, and  the state of elements and regions, which help the user understand their roles or  states.</p>
<h2>Suggestion for Priority Level (A/AA/AAA)</h2>
<p>(

[2016-11-27 10:39] lseeman opened #32 "Help"
## Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/provide-support_ISSUE-32/guidelines/sc/21/provide-support.html) | [SC for editing](https://github.com/w3c/wcag21/blob/provide-support_ISSUE-32/guidelines/sc/21/provide-support.html)
- [Cardinal Direction definition for viewing](https://rawgit.com/w3c/wcag21/provide-support_ISSUE-32/guidelines/terms/21/cardin

[2016-11-27 10:48] lseeman opened #33 "Error Prevention"
## Current versions of SC and Definitions

- [SC for viewing](https://rawgit.com/w3c/wcag21/error-prevention-legal-financial-data_ISSUE-33/guidelines/sc/21/confirm-important-information.html) | [SC for editing](https://github.com/w3c/wcag21/blob/error-prevention-legal-financial-data_ISSUE-33/guidelines/sc/21/confirm-important-information.html)

- [SC in full draft guideline](https://rawgit.com/w3c

[2016-11-27 11:01] lseeman opened #34 "Reminders"
<h2>SC Shortname</h2>
		        <p><strong> Reminders</strong></p>
		        <h2>SC Text</h2>
		        <p><br>
                <strong>Reminders:</strong> The user is able to  set a reminder for date and time sensitive events.  Reminders must be set only at the users request and the user must be able  to personalize the reminder method. Where a standard mechanism exists for the platform  or techn

[2016-11-27 11:09] lseeman opened #35 "Familiar design (Enhanced)"
<h2>SC Shortname: Familiar Design (Enhanced)</h2>
		        <h2><a id="user-content-sc-text" href="https://github.com/w3c/wcag21/wiki/Proposals-for-new-Success-Criteria#sc-text"></a>SC Text</h2>
                  <p><strong>Familiar design (Enhanced): </strong>Navigation mechanisms and common icons are easily identifiable and available to the user in one or more of the following ways:</p>

[2016-11-27 11:20] lseeman opened #36 "Clear controls"
<h2>SC Shortname:</h2>
	<p>Clear Controls</p>
<h2><a id="user-content-sc-text" href="https://github.com/w3c/wcag21/wiki/Proposals-for-new-Success-Criteria#sc-text"></a>SC Text</h2>
	<p><strong>Clear controls:</strong> Visual interactive controls are clear or clear controls are <a href="https://rawgit.com/w3c/coga/master/extension/index.html#dfn-easily-available-mode-or-setting" target="_blank"><u>

[2016-11-27 11:35] lseeman opened #37 "Identify charges"
<h2>SC Shortname: Identify Charges</h2>
		        <h2><a id="user-content-sc-text" href="https://github.com/w3c/wcag21/wiki/Proposals-for-new-Success-Criteria#sc-text"></a>SC Text</h2>
                  <p><strong>Identify Charges: </strong><br>
                    <br>
                  Identify Charges: All types of charges are identified at the start of transaction tasks. When a minimum or typi

[2016-11-27 11:39] lseeman opened #38 "Undo"
## Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/undo_ISSUE-38/guidelines/sc/21/undo.html) | [SC for editing](https://github.com/w3c/wcag21/blob/undo_ISSUE-38/guidelines/sc/21/undo.html)
- [SC in full draft guideline](https://rawgit.com/w3c/wcag21/undo_ISSUE-38/guidelines/#undo)

## SC Shortname:
Undo
## <a id="user-content-sc-text" href="https://github.co

[2016-11-27 11:42] lseeman opened #39 "Critical features"
<h2><strong>SC Text: Critical features</strong></h2>
		        <p><strong>Critical features</strong> and important information are above the fold and are accentuated in the main modality of the content.</p>
		        <h2>Suggestion for Priority Level (A/AA/AAA)</h2>
		        <h2>Related Glossary additions or changes</h2>
		        <dl>
		          <dt>critical features </dt>
		          <dd>featu

[2016-11-27 11:52] lseeman opened #40 "Section headings"
<h2>SC Shortname: Section Headings</h2>
                <h3>Current:</h3>
		        <p><strong>2.4.10 Section Headings: </strong>Section headings are used to organize the content. (Level AAA)</p>
                  <p><em>Note 1:</em> "Heading" is used in its general sense and includes titles and other ways to add a heading to different types of content.</p>
                  <p><em>Note 2:</em> Th

[2016-11-27 12:03] lseeman opened #41 "Plain language (Enhanced)"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/plain-language-enhanced_ISSUE-41/guidelines/sc/21/plain-language-enhanced.html) | [SC for editing](https://github.com/w3c/wcag21/blob/plain-language-enhanced_ISSUE-41/guidelines/sc/21/plain-language-enhanced.html)
-  [Core vocabulary definition for viewing](https://rawgit.com/w3c/wcag21/plain-language-minimum

[2016-11-27 12:04] lseeman opened #42 "Plain language (All Content)"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/plain-language-all-content_ISSUE-{42}/guidelines/sc/21/plain-language-all-content.html) | [SC for editing](https://github.com/w3c/wcag21/blob/plain-language-all-content_ISSUE-{42}/guidelines/sc/21/plain-language-all-content.html)
- [Concrete Wording definition for viewing](https://rawgit.com/w3c/wcag21/plain-

[2016-11-27 12:08] lseeman opened #43 "Finding help"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/finding-help_ISSUE-43/guidelines/sc/21/finding-help.html) | [SC for editing](https://github.com/w3c/wcag21/blob/finding-help_ISSUE-43/guidelines/sc/21/finding-help.html)
- [User Action definition for viewing](https://rawgit.com/w3c/wcag21/finding-help_ISSUE-43/guidelines/terms/21/user-action.html) | [User Act

[2016-11-27 12:11] lseeman opened #44 "Search"
<h2>Search</h2>
<p>Search: Provide a search capability. </p>
An exception is provided for <em>small organizations</em> and for <em>small websites</em> that include simple links to each page from the home page.
<h2>Suggestion for Priority Level</h2>
<p>AA </p>
<h2>Related Glossary additions or changes</h2>
<p><em> A small organization</em> is defined as not more than 50 employees, or the definition

[2016-11-27 12:16] lseeman opened #45 "Extra help"
<h2><strong>Extra Help</strong></h2>
<p><strong>SC Shortname: Extra Help</strong></p>
		        <h2><strong>SC Text</strong></h2>
<p>Extra Help: Provide <em>easily available beginner's help </em>or human help for <em>critical services</em> </p>
<h2><strong>Suggestion for Priority Level</strong></h2>
		        <p><br>
		          AA		        </p>
<p><br>
<strong>Related Glossary additions or change

[2016-11-27 12:23] lseeman opened #46 "Standardized APIs"
<h2>Standardized APIs</h2>
<p>Standardized APIs: Support known <em>standardized API's</em> for tools that help the user understand and use the content.</p>
				<p>Exceptions:</p>
				<ul>
				  <li>When there is a security or safety requirement, these API's may be disabled for the relevant field </li>
				  <li>If it breaks the main function of the site, such as evaluation and testing applications

[2016-11-27 12:31] lseeman opened #47 "Interruptions"
-  [ SC for viewing](https://rawgit.com/w3c/wcag21/interruptions-minimum_ISSUE-47/guidelines/sc/21/interruptions-minimum.html) | [SC for editing](https://github.com/w3c/wcag21/blob/interruptions-minimum_ISSUE-47/guidelines/sc/21/interruptions-minimum.html)
-  [ easily available definition for viewing](https://rawgit.com/w3c/wcag21/interruptions-minimum_ISSUE-47/guidelines/terms/21/easily-available

[2016-11-27 12:34] lseeman opened #48 "Change on request"
##Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/change-on-request_ISSUE-48/guidelines/sc/21/change-on-request.html) | [SC for editing](https://github.com/w3c/wcag21/blob/change-on-request_ISSUE-48/guidelines/sc/21/change-on-request.html)
- [Easily Available definition for viewing](https://rawgit.com/w3c/wcag21/change-on-request_ISSUE-48/guidelines/terms/21

[2016-11-27 13:05] lseeman opened #49 "Familiar Design (Minimum)"
<h2>SC Shortname: Familiar Design (Minimum)</h2>
            <h2><a id="user-content-sc-text" href="https://github.com/w3c/wcag21/wiki/Proposals-for-new-Success-Criteria#sc-text"></a>SC Text</h2>
                  <p><strong>Familiar design (Minimum): </strong> Help,  navigation to help and search forms are easily identifiable and   available to the user in one or more of the following ways:</p>

[2016-11-27 13:09] lseeman opened #50 "Extra symbols"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/extra-symbols_ISSUE-50/guidelines/sc/21/extra-symbols.html) | [SC for editing](https://github.com/w3c/wcag21/blob/extra-symbols_ISSUE-50/guidelines/sc/21/extra-symbols.html)
- [Critical Service definition for viewing](https://rawgit.com/w3c/wcag21/extra-symbols_ISSUE-50/guidelines/terms/21/critical-service.ht

[2016-11-27 13:13] lseeman opened #51 "Visual presentation"
# SC Shortname: Visual Presentation
## SC Text

Allow for the ability to easily adjust white space around objects and text, including boxes, paragraph headings, and content, to a degree that suits the user and does not disrupt the overall integrity of a web page.

# Current:

1.4.8 Visual Presentation: For the visual presentation of blocks of text, a mechanism is available to achieve the following

[2016-11-27 13:24] lseeman opened #52 "Extra help (Enhanced)"
<h2><strong> Extra Help (Enhanced)</strong></h2>
<p><strong>SC Shortname: Extra Help (Enhanced) </strong></p>
		        <h2><strong>SC Text</strong></h2>
<p><strong>Extra Help:</strong> Provide easily available beginner's help or human help. </p>
<h2><strong>Suggestion for Priority Level</strong></h2>
		        <p><br>AAA</p>
<p><br>
<strong>Related Glossary additions or changes</strong></p>
<p><s

[2016-11-27 13:29] lseeman opened #53 "Return"
<h2>SC Shortname: Return</h2>
<b>Return:</b> Users are provided with the ability to return to a previous point in their user journey after switching context or changing applications such that:
<ul><li>
A user can go back steps in a user journey via a clearly labelled action.
</li><li>The user is returned to the location they were at, prior to the change in context or application via a clearly labe

[2016-11-27 13:41] lseeman opened #54 "Feedback"
# Current version of SC and Definitions

- [SC for viewing](https://rawgit.com/w3c/wcag21/feedback_ISSUE-54/guidelines/sc/21/feedback.html) | [SC for editing](https://github.com/w3c/wcag21/blob/feedback_ISSUE-54/guidelines/sc/21/feedback.html)

- [SC in full draft guideline](https://rawgit.com/w3c/wcag21/feedback_ISSUE-54/guidelines/#feedback)

<h2>Feedback</h2>
                        <a href="ht

[2016-11-27 13:51] lseeman opened #55 "Clear purpose"
<h2>SC Shortname: Clear Purpose</h2>
		        <h2><a href="https://github.com/w3c/wcag21/wiki/Proposals-for-new-Success-Criteria#sc-text"></a>SC Text</h2>
		        <p>The main purpose of each page and section of content is clear.
                    Extraneous information that is not directly relevant to the main purpose of a page is distinctly separated and programmatically determinable.

[2016-11-27 14:09] lseeman opened #56 "Labels and instructions"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/labels-or-instructions_ISSUE-56/guidelines/sc/21/labels-or-instructions.html) | [SC for editing](https://github.com/w3c/wcag21/blob/labels-or-instructions_ISSUE-56/guidelines/sc/21/labels-or-instructions.html)
- [SC in full draft guideline](https://rawgit.com/w3c/wcag21/labels-or-instructions_ISSUE-56/guideli

[2016-11-28 16:19] allanj-uaag opened #57 "Line Length"
<h2>SC Shortname</h2>
<p>Line Length </p>
<h2>SC Text</h2>
<p>For the visual presentation of all text, a mechanism is available such that line length is user adjustable, to 25 characters, with no two-dimensional scrolling required, and with the following exceptions.</p>
<ol>
  <li> If the user-agent fits the layout to the view port, and does not provide a means of re-flowing content, then two-dime

[2016-11-28 16:52] allanj-uaag opened #58 "Reflow to Single Column"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/linearization_ISSUE-58/guidelines/sc/21/linearization.html) | [SC for editing](https://github.com/w3c/wcag21/blob/linearization_ISSUE-58/guidelines/sc/21/linearization.html)
- [SC in full draft guideline](https://rawgit.com/w3c/wcag21/linearization_ISSUE-58/guidelines/#linearization) ## Current versions of SC

[2016-11-29 04:10] kwahlbin opened #59 "Pointer"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/pointer_ISSUE-59/guidelines/sc/21/pointer.html) | [SC for editing](https://github.com/w3c/wcag21/blob/pointer_ISSUE-59/guidelines/sc/21/pointer.html)
- [Pointer inputs definition for viewing](https://rawgit.com/w3c/wcag21/pointer_ISSUE-59/guidelines/terms/21/pointer-input.html) | [Pointer inputs definition fo

[2016-11-29 04:12] kwahlbin opened #60 "Target Size"
# Current versions of SC and Definitions
- [AA SC for viewing](https://rawgit.com/w3c/wcag21/target-size_ISSUE-60/guidelines/sc/21/target-size.html) | [AA SC for editing](https://github.com/w3c/wcag21/blob/target-size_ISSUE-60/guidelines/sc/21/target-size.html)
- [AAA SC for viewing](https://rawgit.com/w3c/wcag21/target-size_ISSUE-60/guidelines/sc/21/target-size-all.html) | [AAA SC for editing](ht

[2016-11-29 04:12] kwahlbin opened #61 "Pointer gestures"
## Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/pointer-gestures_ISSUE-61/guidelines/sc/21/pointer-gestures.html) | [SC for editing](https://github.com/w3c/wcag21/blob/pointer-gestures_ISSUE-61/guidelines/sc/21/pointer-gestures.html)
- [Complex Gestures definition for viewing](https://rawgit.com/w3c/wcag21/pointer-gestures_ISSUE-61/guidelines/terms/21/com

[2016-11-29 04:13] kwahlbin opened #62 "Keyboard with AT"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/keyboard-with-assistive-technology_ISSUE-62/guidelines/sc/21/keyboard-with-assistive-technology.html) | [SC for editing](https://github.com/w3c/wcag21/blob/keyboard-with-assistive-technology_ISSUE-62/guidelines/sc/21/keyboard-with-assistive-technology.html)
- [SC in full draft guideline](https://rawgit.com/w3

[2016-11-29 04:14] kwahlbin opened #63 "Touch with Assistive Technology"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/touch-with-assistive-technology_ISSUE-63/guidelines/sc/21/touch-with-assistive-technology.html) | [SC for editing](https://github.com/w3c/wcag21/blob/touch-with-assistive-technology_ISSUE-63/guidelines/sc/21/touch-with-assistive-technology.html)
- [Platform assistive technology that remaps touch gestures defi

[2016-11-29 04:14] kwahlbin opened #64 "Concurrent input mechanisms"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/concurrent-input-mechanisms_ISSUE-64/guidelines/sc/21/concurrent-input-mechanisms.html) |  [SC for editing](https://github.com/w3c/wcag21/blob/concurrent-input-mechanisms_ISSUE-64/guidelines/sc/21/concurrent-input-mechanisms.html)
- [SC in draft guidelines](https://rawgit.com/w3c/wcag21/concurrent-input-mecha

[2016-11-29 04:15] kwahlbin opened #65 "No Accidental Activation"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/accidental-activation_ISSUE-65/guidelines/sc/21/accidental-activation.html) | [SC for editing](https://github.com/w3c/wcag21/blob/accidental-activation_ISSUE-65/guidelines/sc/21/accidental-activation.html)
- [Up-Event definition](https://rawgit.com/w3c/wcag21/accidental-activation_ISSUE-65/guidelines/terms/21

[2016-11-29 04:15] kwahlbin opened #66 "Pointer inputs with additional sensors"
# Current versions of SC and Definitions

- [SC for viewing](https://rawgit.com/w3c/wcag21/pointer-inputs-with-additional-sensors_ISSUE-66/guidelines/sc/21/pointer-inputs-with-additional-sensors.html) | [SC for editing](https://github.com/w3c/wcag21/blob/pointer-inputs-with-additional-sensors_ISSUE-66/guidelines/sc/21/pointer-inputs-with-additional-sensors.html)
- [SC in full draft guideline](http

[2016-11-29 04:16] kwahlbin opened #67 "Device sensors"
## Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/device-sensors_ISSUE-67/guidelines/sc/21/device-sensors.html) | [SC for editing](https://github.com/w3c/wcag21/blob/device-sensors_ISSUE-67/guidelines/sc/21/device-sensors.html)
- [Device Sensor definition for viewing](https://rawgit.com/w3c/wcag21/device-sensors_ISSUE-67/guidelines/terms/21/device-sensor.ht

[2016-11-29 04:16] kwahlbin opened #68 "Speech Input"
## Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/speech-input_ISSUE-68/guidelines/sc/21/speech-input.html) | [SC for editing](https://github.com/w3c/wcag21/blob/speech-input_ISSUE-68/guidelines/sc/21/speech-input.html)
- [Accessible Name for viewing](https://rawgit.com/w3c/wcag21/speech-input_ISSUE-68/guidelines/terms/21/accessilble-name.html) | [Accessibi

[2016-11-29 04:17] kwahlbin opened #69 "Single key shortcut alternative"
## Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/single-key-shortcuts_ISSUE-69/guidelines/sc/21/character-key-shortcuts.html) | [SC for editing](https://github.com/w3c/wcag21/blob/single-key-shortcuts_ISSUE-69/guidelines/sc/21/character-key-shortcuts.html)
- [Character Key definition for viewing](https://rawgit.com/w3c/wcag21/single-key-shortcuts_ISSUE-69/

[2016-11-29 04:18] kwahlbin opened #70 "Orientation"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/orientation_ISSUE-70/guidelines/sc/21/orientation.html) | [SC for editing](https://github.com/w3c/wcag21/blob/orientation_ISSUE-70/guidelines/sc/21/orientation.html)
- [Essential definition for viewing](https://rawgit.com/w3c/wcag21/orientation_ISSUE-70/guidelines/terms/21/essential.html) | [Essential definit

[2016-11-29 04:18] kwahlbin opened #71 "Non-interference with Assistive Technology"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/non-interference-with-assistive-technology_ISSUE-71/guidelines/sc/21/non-interference-with-assistive-technology.html) | [SC for editing](https://github.com/w3c/wcag21/blob/non-interference-with-assistive-technology_ISSUE-71/guidelines/sc/21/non-interference-with-assistive-technology.html)
- [Non-interference

[2016-11-29 10:39] joshueoconnor commented on #63
Please ignore accidental bug label here. My fault.

[2016-11-29 16:29] awkawk opened #72 "Proposed change in definition to "set of web pages""
A proposal to add an example to the definition for "Set of web pages".

Current definition:
collection of Web pages that share a common purpose and that are created by the same author, group or organization
Note: Different language versions would be considered different sets of Web pages.

Proposal is to keep the current definition and add:
Example: A publication is split across multiple Web pages

[2016-11-29 17:04] joshueoconnor commented on #10
@jnurthen Saying that disabled items need a contrast ratio so they look like they are not disabled can cause confusion.

[2016-11-29 17:11] joshueoconnor commented on #10
The WG on call likes the idea from @mraccess77 " how disabled items can be conveyed more effectively.  It is valuable information that people with low vision need.  There is text, there is other content to help you get it un-dsiabled.  We need to think beyond what has always been done."

[2016-11-29 17:18] joshueoconnor commented on #10
Glenda/John to link in with COGA to see if they have SCs for disabled icons for people with Cognitive disabilities.

[2016-11-30 22:43] awkawk commented on #7
I believe that we should put off this change until we know better what success criteria changes/additions get accepted under this guideline.

[2016-12-01 17:10] DavidMacDonald commented on #2
This needs an MAFT Label.

[2016-12-01 17:11] DavidMacDonald commented on #3
This needs an MAFT Label.

[2016-12-01 18:40] allanj-uaag opened #73 "Font Family - !! Ready for Review"
<h2>SC Shortname</h2>
<p>Font Family </p>
<h2>SC Text</h2>

  <p>The user can change the font family to any available to the user agent.
  </p>

<h2>Suggested Priority Level</h2>
<p>Level AA </p>
<h2>Related Glossary additions or changes</h2>

<p>none </p>
<h2>What Principle and Guideline the SC falls within.</h2>

<p>Principle 1, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale"

[2016-12-01 19:05] allanj-uaag opened #74 "Text Color"
<h2>SC Shortname</h2>
Text Colors
<h2>SC Text</h2>
<p>Users must be able to change foreground and background colors chosen from the full range of color choices provided by the user agent, without loss of important information. </p>
<h2>Suggested Priority Level</h2>
<p>Level A </p>
<h2>Related Glossary additions or changes</h2>
Use COGA's important information definition:
<dl>
  <dt>Important infor

[2016-12-01 20:00] allanj-uaag opened #75 "Content on Hover or Focus (formerly Popup Visibility/Interference)"
## Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/popup-interference_ISSUE-75/guidelines/sc/21/content-on-hover-or-focus.html) | [SC for editing](https://github.com/w3c/wcag21/blob/popup-interference_ISSUE-75/guidelines/sc/21/content-on-hover-or-focus.html)
- [popup definition for viewing](https://rawgit.com/w3c/wcag21/popup-interference_ISSUE-75/guidelines

[2016-12-01 20:13] allanj-uaag opened #76 "Printing Customized Text"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/printing_ISSUE-76/guidelines/sc/21/printing.html) | [SC for editing](https://github.com/w3c/wcag21/blob/printing_ISSUE-76/guidelines/sc/21/printing.html)
- [Definition of Adapted Text Properties for viewing]( https://rawgit.com/w3c/wcag21/printing_ISSUE-76/guidelines/terms/21/adapted-text-properties.html ) |

[2016-12-01 20:31] lauracarlson commented on #10
- [Survey Results, 22 November 2016](https://www.w3.org/2002/09/wbs/35422/NewSC_20161122/results#xq1)
- [Minutes, 29 November 2016 ](https://www.w3.org/2016/11/29-wai-wcag-minutes.html#item04)

[2016-12-01 20:34] lauracarlson commented on #9
- [Survey Results - 22 November 2016](https://www.w3.org/2002/09/wbs/35422/NewSC_20161122/results#xq2)
- [Minutes - 29 November 2016 ](https://www.w3.org/2016/11/29-wai-wcag-minutes.html#item05)

[2016-12-01 20:44] allanj-uaag opened #77 "Zoom Content (formerly Resize content)"
## Current version of SC and Definitions
- [Current version for viewing](https://rawgit.com/w3c/wcag21/resize-content_ISSUE-77/guidelines/sc/21/resize-content.html) | [Current version for editing](https://github.com/w3c/wcag21/blob/resize-content_ISSUE-77/guidelines/sc/21/resize-content.html)
- [SC in full draft guideline](https://rawgit.com/w3c/wcag21/resize-content_ISSUE-77/guidelines/#zoom-cont

[2016-12-01 21:26] allanj-uaag opened #78 "Adapting text"
# Current versions of SC and Definitions
- [SC for viewing](https://rawgit.com/w3c/wcag21/adapting-text_ISSUE-74-78-79/guidelines/sc/21/adapting-text.html) | [SC for editing](https://github.com/w3c/wcag21/blob/adapting-text_ISSUE-74-78-79/guidelines/sc/21/adapting-text.html)
- [Adapt definition for viewing](https://rawgit.com/w3c/wcag21/adapting-text_ISSUE-74-78-79/guidelines/terms/21/adapt.html)

[2016-12-01 21:47] allanj-uaag opened #79 "Font Family"
<h2>SC Shortname</h2>
Font Family
<h2>SC Text</h2>
The user can change the font family to any available to the user agent.
<h2>Suggested Priority Level</h2>
Level AA
<h2>Related Glossary additions or changes</h2>
none
<h2>What Principle and Guideline the SC falls within.</h2>
Principle 1, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale"> Guideline 1.4.4</a>
<h2>Description</h2>

[2016-12-01 21:59] DavidMacDonald commented on #79
seems like a User Agent Issue

[2016-12-01 22:14] allanj-uaag opened #80 "See All Elements"
<h2>SC Shortname</h2>
<p>Seeing all elements </p>
<h2>SC Text</h2>
<p>Users can see and interact with all content and user interface controls presented visually, including when users have changed display settings such as text size. </p>
<h2>Suggested Priority Level</h2>
<p>Level AA </p>
<h2>Related Glossary additions or changes</h2>
<p>None </p>
<h2>What Principle and Guideline the SC falls within

[2016-12-02 01:29] liamquin commented on #79
On Thu, 2016-12-01 at 13:47 -0800, allanj-uaag wrote:

This is unacceptable for non-Western fonts. For example, most Microsoft
non-Latin language packs provide fonts with Ariel (or similar) glyphs
for the Latin alphabet, and the font names are mostly in the Latin
alphabet. Or, the font might not actually contain the glyphs to
represent its own name, or, in the case of a digbat font, the
characters

[2016-12-02 08:23] DavidMacDonald commented on #80
Seems to be a duplicate with Issue #8

[2016-12-02 08:25] DavidMacDonald commented on #79
Seems to be a duplicate with #79

[2016-12-02 08:26] DavidMacDonald commented on #41
Seems to be a duplicate of #30

[2016-12-02 08:55] lseeman commented on #41
No it is not. Again different scopes.All the bestLisa SeemanLinkedIn, Twitter---- On Fri, 02 Dec 2016 10:26:06 +0200  David MacDonald<notifications@github.com> wrote ----Seems to be a duplicate of #30  —You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-02 09:21] DavidMacDonald opened #81 "Let's limit Duplicate ids in 4.1.1"
Proposed change to 4.1.1 for WCAG 2.1

Most duplicate ids are not a problem for accessibility. Only IDs referenced by Assistive Tech. aare affected (`<input>`, aria references etc.) This can end up eating up accessibility budgets for remediation which could be put towards making the site more accessible.

Current
4.1.1 Parsing: In content implemented using markup languages, elements have complete

[2016-12-02 10:14] DavidMacDonald commented on #35
The SC appears to say Level A, but the title is AA

[2016-12-02 10:15] DavidMacDonald commented on #39
There doesn't appear to be a suggested WCAG Level

[2016-12-02 10:52] lseeman commented on #35
Should be AA

Do you want us to change it in the text?

[2016-12-02 10:54] lseeman commented on #35
It should be AAdo you want us to change it?

All the best

Lisa Seeman

LinkedIn, Twitter

---- On Fri, 02 Dec 2016 12:14:02 +0200 David MacDonald&lt;notifications@github.com&gt; wrote ----

The SC appears to say Level A, but the title is AA
 —
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-02 16:24] lauracarlson commented on #10
[Related COGA Proposed SC Clear controls #36 ](https://github.com/w3c/wcag21/issues/36)

[2016-12-02 18:21] liamquin commented on #79
On Fri, 2016-12-02 at 00:25 -0800, David MacDonald wrote:

That's because this _is_ 79 :-)

[2016-12-02 20:57] allanj-uaag commented on #8
replaces by #80

[2016-12-02 20:57] #8 closed

[2016-12-02 21:02] allanj-uaag commented on #12
closed replace by #77

[2016-12-02 21:02] #12 closed

[2016-12-02 21:16] jnurthen commented on #2
Wouldn't this (as written) require that an advertisment on a page which animates would need to provide notification? If so we need to write something to exclude that case - maybe limit this to content which is related to the primary purpose of the page?

[2016-12-02 21:20] jnurthen commented on #3
Need to provide a threshold. sometimes a busy indicator appears for a fraction of a second. In these cases we would not want the busy notification for a screen reader user as it would be distracting noise. If busy is announced to a screen reader user we also then need to announce when the load is complete too otherwise a screen reader user may assume that the page is still busy.

[2016-12-02 21:27] jnurthen commented on #60
Needs exclusions when there are multiple ways to do something. For example the letters A-Z at the side of the contacts app on iOS has a very small touch target - but is not the only way of operating the application. It would be impossible to make each of the letters A-Z fit on the screen with a 48x48px touch target but this is an inherently useful UI. It needs to be allowed.

[2016-12-03 13:21] DavidMacDonald commented on #8
We can't leave the wording as "Users can See..."   we have no idea what user can and can't see. It depends on their ability to see. We might be able to manage it with an SC that says something like this.

**Overlapping content**:  Content remains unobscured when text or pointer is resized.

[2016-12-03 14:05] mattgarrish commented on #81
This sounds troubling from a publishing perspective. Duplicate IDs break navigation and can cause problems for annotating documents, and those just jump immediately to mind.

Yes, these problems will manifest for everyone, but trying to figure out which IDs are valueless, if any, seems like more work than just fixing any duplicates.

[2016-12-03 16:05] jnurthen commented on #81
Wouldn't this be a problem from a backwards compatibility standpoint too? If the aim is that something complying with 2.1 automatically meets 2.0 then this would break this model.

[2016-12-04 18:19] DavidMacDonald commented on #18
Perhaps 3 seconds for the threshold in significant animation or do more study. There is a lot of fade in etc that may last a little over 1 second.

[2016-12-04 18:23] DavidMacDonald commented on #2
Responding to James
5. The new content is not related to the the primary purpose of the page AND is not a result of a user action.

[2016-12-04 18:25] DavidMacDonald commented on #81
Both the previous comments are reasons not to proceed with this recommendation. I withdraw the issue for 2.1.

[2016-12-04 18:34] DavidMacDonald commented on #60
Could address James comment by creating exception.
* except where another means of performing the function meets the minimums.

[2016-12-05 16:16] DavidMacDonald commented on #2
Programmatic notification is provided for each change in content that indicates an action was taken or that conveys information, unless one or more of the following is true:

# The change immediately follows the control that triggered it, in the programmatic reading order.
# There is an accessibility supported programmatic relationship between the new content and the user # activated control that

[2016-12-05 16:47] DavidMacDonald commented on #3
There have been a number of comments about screen orientation.

"After initial page load, programmatic notification is provided for each visual indicator that content is loading or the page is busy."

Question for James comment. James how can we determine if the indicator will only appear for a split second or not? It probably has a lot to do with the user's environment. So the SC simply requires

[2016-12-05 17:08] jnurthen commented on #3
@DavidMacDonald I don't think that is useful. If you are going to notify a user that something is loading you also have to tell them when it is done loading. Otherwise how are they to know what has happened?

[2016-12-05 18:19] lseeman commented on #39
A or AA

[2016-12-05 19:38] allanj-uaag commented on #73
duplicate of  #79

[2016-12-05 19:38] #73 closed

[2016-12-05 19:47] DavidMacDonald opened #82 "Accessibility Metadata"
# Current versions of SC and definitions
The proposal was changed from an SC to a edit to the optional components of a conformance claim. There is further discussion on the Daisy [Issue list](
https://github.com/daisy/epub-revision-a11y/wiki/WCAG-Discovery-Metadata-Proposal)

- [Conformance change for viewing](https://rawgit.com/w3c/wcag21/ePub-metadata/guidelines/index.html) |  [Conformance chang

[2016-12-05 19:57] DavidMacDonald commented on #16
This Success criteria is being written in Issue #82

[2016-12-05 20:42] jasonjgw commented on #82
There are several concerns with this proposal: (1) it doesn't make the content in question more "robust", where robustness refers in WCAG to backward and forward compatibility and to compatibility with assistive technologies. (2) It does not improve the accessibility of the content; it only makes more accessible content easier to distinguish from less accessible content (e.g., when searching). (3)

[2016-12-05 20:47] DavidMacDonald commented on #82
@jasonjgw I changed the principle to be determined.

[2016-12-05 22:49] nattarnoff commented on #18
@DavidMacDonald I'm all for testing to find that "sweet spot." I can only speak for my own experience. Most fade in/out don't affect me as a user with a vestibular disorder. Slides, horizontal motion, and rotating motion cause significant problems for me. The shorter the are, the better. I've developed coping mechanisms, such as long blinks, to try and avoid those. However when they last longer th

[2016-12-05 23:02] alastc commented on #18
Having a time limit doesn't make much sense to me, these are caused by interaction but cannot be avoided. How long is too long for scrolling? It depends how far you have to scroll! The problem is you can't avoid them, not how long they take.

[2016-12-06 00:12] nattarnoff commented on #18
So no limit on the top, but we're saying anything over 1 second would be true to the 3rd of 4 testing guidelines. I'm good with this, but I read what David says as 3 seconds being the threshold, not 1 second. In essence, any animation UP to 3 seconds would not count as "true" by test 3. Your current wording (which I agree with) says any animation UP to 1 second would not count as "true."

[2016-12-06 00:16] alastc commented on #18
Urg, need to remind myself of the main text before jumping in. David's suggestion of 3 seconds reminded me of the _upper_ limit of pause/stop/hide, we added 1 second as a _lower_ limit to help with "significant" animation.

I don't think an upper limit makes sense as it is based on user-initiation, but a lower limit makes sense to remove minor animation from being caught.

[2016-12-06 00:17] nattarnoff commented on #18
Agreed. :+1:

[2016-12-06 04:44] jnurthen commented on #10
Some comments
- 'in all states' is a little confusing, since disabled is exempted later on
- 'including when the page is scrolled' - I've not seen that concept before in any other SC - what is the need to specifically call it out? Does this mean as the page is being scrolled or something else. If it does mean this I have no idea how I would test it.
-I would prefer to see everything dealing with f

[2016-12-06 04:54] jnurthen commented on #9
- this is so subtly different than the prior SC that I see no reason not to merge them
- after reading it multiple times I am still confused as to what requires the contrast - content totally within the image, and/or the image relative to the page?
- the example of the 'wider' text is confusing here since the SC specifically is for graphics
- the flower pots example is confusing - what is the reas

[2016-12-06 05:04] jnurthen commented on #2
- The word immediately needs defining in (1). What is immediately? If there is a <br> between the control and the content - is that immediatly following? How much - and what type of content - is allowed between the control and the content?
- Isn't the loading indicator in #3 and example of this? Why does it need to be a separate SC?

[2016-12-06 08:51] alastc commented on #9
Thanks @jnurthen, and to anyone looking at this, there is one critical principle that needs to be understood & agreed, and then things like wider text and the examples can be refined.

From my email to the WCAG-WG list:
Several people noted the difficulty with testing contrast on complex graphics which have multiple colours, which is true on the face of it.

I think there is a reasonable way to ap

[2016-12-06 10:50] chaals commented on #82
As benefits to accessibility metadata:

1. It helps determine, *a priori*, whether a particular resource is useful for a particular user or set of users.
2. It *may* point to alternative versions of a resource, enabling discovery of a resource or set of parallel resources that meet the needs of a given set of users.

It seems to me that a best practice, maybe even a part of the Success Criterion,

[2016-12-06 10:57] chaals commented on #82
A suggestion for the wording:

Provide programmatically determinable description of the accessibility of content, using a freely available metadata vocabulary.

I don't think any of these terms need a new glossary entry - which is a goal.

[2016-12-06 13:02] madeleinerothberg commented on #82
@jasonjgw Actually, I think the fact that authors who use the metadata have likely already met AA is a feature, not a bug. One goal of the metadata is to make it easier for users to locate the accessible needles in the haystack of web content. So if page authors who have created accessible materials use metadata to say so, search engines can get users to accessible resources that they might not ot

[2016-12-06 13:51] awkawk commented on #82
Part of the problem that I'm having with this language is that it is doing the opposite of what we've tried to do in WCAG - we have strived to create SC that identify the end-user problem and require that the content addresses it using a technological solution of their choice. This one is saying "use metadata" which is the technical solution, but doesn't identify the user problem crisply.

@chaals

[2016-12-06 14:29] madeleinerothberg commented on #82
@awkawk There is a specific metadata vocabulary available from Schema.org, and that will be the primary technique. We are not mentioning it in the SC because there could be other kinds of metadata that would be acceptable techniques. The use of "freely available" or "openly published" is intended to require that you not just make up your own, since interoperability will be easier if everyone uses

[2016-12-06 14:47] jasonjgw commented on #82
The conformance  section already specifies metadata as "recommended additional
information" that should accompany a conformance claim. It refers to

"A machine-readable metadata version of the list of specific technologies that
are relied upon" and "A machine-readable metadata version of the conformance
claim".

It also recommends including "Information about any additional steps taken
that go bey

[2016-12-06 14:47] avneeshsingh commented on #82
Will the following rephrasing resolve the issue of positive indications:
Make it easier for users to find the content that satisfies their accessibility requirements by providing..

[2016-12-06 14:52] awkawk commented on #82
We haven't typically done "freely available" or "openly published" because the "accessibility supported" language covers the issue of whether something actually works in practice. So actually, if you want to create the Rothberg metadata schema you may, and if there is sufficient accessibility support for it, you can claim conformance on the basis of that. In practice, that isn't too likely.

I do

[2016-12-06 14:54] awkawk commented on #82
@madeleinerothberg /@avneeshsingh - I think that wording is a step in the right direction.

To @jasonjgw's point - perhaps if this is covered under the conformance criteria all we need is conformance techniques?

[2016-12-06 17:04] joshueoconnor commented on #10
To be assigned to Glenda - when she is set up with a GH account

[2016-12-06 17:19] lseeman commented on #2
Isnt this part of role name state - change of state?

[2016-12-06 17:26] DavidMacDonald commented on #2
@lseeman  4.1.2 addresses updates only components not other types of content

[2016-12-06 17:36] joshueoconnor commented on #3
Today on the call David said that he could merge this SC with #2 as an example - so this can be closed.

[2016-12-06 17:38] DavidMacDonald commented on #2
asa

[2016-12-06 17:40] DavidMacDonald commented on #2
@jnurthen I've merged issue#3 in as an example.

Immediately was intended to mean it follows it in the DOM, and there is no content between the control and the new content, otherwise it would need to be referenced or announced, which  think gives a lot of flexibility.

[2016-12-06 17:50] DavidMacDonald commented on #3
I have moved this over as an example of Issue #2 as per @jnurthen suggestion.

[2016-12-06 17:50] #3 closed

[2016-12-06 17:51] jnurthen commented on #2
@DavidMacDonald so my example with a `<br>` would be ok then as that is not "content" so I stand by my comment that immediately needs defining so it is clear what is allowed and what is not.

[2016-12-06 21:08] jasonjgw commented on #17
Should we assert that archives or containers that comprise multiple resources should be treated as though they were replaced by their contents (i.e., as though the contents were available as individual resources) for the purpose of applying the definitions of "Web page" and "Set of Web pages"?

This would at least solve the problem in cases in which the archive file is available via HTTP; it would

[2016-12-06 21:33] jasonjgw commented on #39
This seems to require the author to make (and document?) problematic assumptions about the size of the viewport in both implementation and evaluation of the success criterion. The making of such assumptions is inconsistent with the diversity of window sizes and devices that users may have. Can this SC be rewritten to avoid these assumptions?

Also, perhaps it should be reworded to use the concept

[2016-12-07 01:17] mattgarrish commented on #17
That's interesting. Conceptually, it's what we're doing by ignoring the packaging of an EPUB.

I've also been wondering if the set of pages definition would be better stated as "created or assembled by the same author, group or organization". That would give more freedom for open textbooks, as I expect there will inevitably be a question of whether the author is only responsible for ensuring the c

[2016-12-07 11:55] joshueoconnor commented on #72
CFC Passed: https://lists.w3.org/Archives/Public/w3c-wai-gl/2016OctDec/0674.html

[2016-12-07 15:24] alastc commented on #9
After a catchup call, a slight refinement to the SC text is:

That uses 'essential' instead of 'important', adds 'for understanding the content', updates the 'thicker' definition, and adds photographs/paintings as an exception.

[2016-12-07 23:52] allanj-uaag commented on #11
closed covered by #58 and #77

[2016-12-07 23:52] #11 closed

[2016-12-08 11:38] alastc commented on #9
I've made some changes to the SC, available here:
https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Informational_Graphic_Contrast_(Minimum)

This slightly updates the SC text (as per comment above) and improves the description and examples. There are a few things I'll call out for particular people:

## Thick / stroke width

Addressing comments from @joshueoconnor @jnurthen @michael-n-cooper and

[2016-12-08 17:44] cstrobbe commented on #82
After reading through the comments, here is my attempt at an alternative formulation.
Proposal for **SC text**:
If alternative versions of the web page are available, a mechanism is available to locate the alternative version(s) of the content based on machine-readable accessibility metadata.
**Note to the SC**: A human readable summary of the accessibility metadata may also be provided. (However,

[2016-12-08 20:28] allanj-uaag commented on #80
Closed, covered by #77  and #58

[2016-12-08 20:28] #80 closed

[2016-12-08 20:31] Ryladog commented on #82
Christophe,

This kind of Accessibility Metadata is mostly used for finding alternative content for a *component* of a page (generally not the whole page), such as a video. The metadata would provide pointers to say video descriptions in several different languages.

Another use is the metadata that tells search engine and their users, more about the specific Accessibility features of the resource

[2016-12-08 20:42] Ryladog commented on #82
Andrew,

You said:"Part of the problem that I'm having with this language is that it is doing the opposite of what we've tried to do in WCAG - we have strived to create SC that identify the end-user problem and require that the content addresses it using a technological solution of their choice. This one is saying "use metadata" which is the technical solution, but doesn't identify the user proble

[2016-12-09 01:01] #81 closed

[2016-12-09 02:11] DavidMacDonald commented on #62
I think we could role the advice of the techniques into another SC and close this, give that 2.1.1 covers almost all this. We could revisit keyboard input for Silver.

[2016-12-09 12:44] alastc commented on #9
Adding [a couple of comments](https://lists.w3.org/Archives/Public/w3c-wai-gl/2016OctDec/0713.html) from Bruce Bailey:

1. Improved exclusion text for the paintings / pictures aspect:

Definite improvement, I've replaced the current exclusion with:
Sensory: Non-text content that is primarily intended to create a visual sensory experience has no minimum contrast requirement;
Added to [this version

[2016-12-09 15:51] alastc commented on #64
Is it possible to create a list of "good" and "bad" event handlers?

I'm not asking for the list, but from people with more experience of input events (*cough* @patrickhlauke) is such a thing possible?

I'm concerned by the broadness (as mentioned in the description), as an accessibility tester I'm not clear how you would test it.

If there were a list of event handlers to watch out for that would

[2016-12-09 15:52] madeleinerothberg commented on #82
While metadata can be used to point to alternative versions, the metadata currently in Schema.org does not do that. It describes the current resource but does not include pointers to other resources. Other sets of metadata including IMS Access for All include that concept, but they aren't aimed at HTML implementation.

[2016-12-09 15:57] jasonjgw commented on #82
WCAG 2 already provides for metadata to be used to specify conformance claims. I think a proposal should be put forward to create a vocabulary for doing this which could be well integrated into current metadata standrads. I don’t know whether schema.org is the right venue for this, but if we started working on it now, we could have it in place in time for the publication of WCAG 2.1, then cite it

[2016-12-09 16:52] DavidMacDonald commented on #82
What about this?

"Accessibility supported characteristics of the content can be programmatically discovered. At a minimum this is a machine readable description either on the page or referenced from the set of pages to which it applies. A human readable summary may also be provided."

[2016-12-09 17:03] jasonjgw commented on #82
From: David MacDonald [mailto:notifications@github.com]
Sent: Friday, December 9, 2016 11:53 AM

What about this?

"Accessibility supported characteristics of the content can be programmatically discovered. At a minimum this is a machine readable description either on the page or referenced from the set of pages to which it applies. A human readable summary may also be provided."

[Jason] I think

[2016-12-09 20:55] mattgarrish commented on #82
So there would be metadata to indicate that metadata has been added, but there would be no specific direction to include accessibility metadata, since all that is asked is to document other steps? (This is getting very meta!)

I'm not sure how this makes the metadata any more likely to be included than now, given that reporting is optional and this would be a further optional step that would requi

[2016-12-09 21:11] jasonjgw commented on #82
No, in fact, the documenting of other steps precisely would be the accessibility metadata which makes assertions about accessibility-relevant properties of the content that go beyond what is in the conformance claim. It is not metadata about the existence of other metadata. Since discoverability does not improve accessibility, it does not belong in the success criteria, but it clearly belongs in t

[2016-12-09 21:48] madeleinerothberg commented on #82
The accessibility features we are talking about documenting are not additional steps beyond conformance. They identify which particular kinds of features are available. You could perhaps map them to specific WCAG SCs. The premise of the metadata work is that users don't know what features they want by the WCAG numeric references, but they do know the names of features they want, like captions or i

[2016-12-09 23:28] jasonjgw commented on #82
We could write a vocabulary of user-identifiable terms with which to make a WCAG conformance claim. There’s no requirement anywhere that conformance claims have to be specified in terms of the numbering scheme used in WCAG success criteria. WCAG 2.0 already asks for machine-readable metadata documenting conformance; I think the metadata community could do much more to make this easier. At a minimu

[2016-12-11 02:12] DavidMacDonald commented on #2
@jnurthen "Immediately follows" is a bit hard to scope this way. I think the concern can be addressed by defining "Programmatic reading order" to exclude machine code not typically presented to the end user

"Programmatic reading order"
The order of content presented to the end user.
Note: code used for layout and programming which is typically not presented to the end user is not considered in ca

[2016-12-11 06:38] lseeman commented on #82
Hi Madeleine We also need to be creating meta data and user setting for the needs for people with cognitive disabilities.
We will be doing that soon so we should coordinate the work

All the best

Lisa Seeman

LinkedIn, Twitter

---- On Fri, 09 Dec 2016 23:48:57 +0200 Madeleine Rothberg&lt;notifications@github.com&gt; wrote ----

The accessibility features we are talking about documenting are not

[2016-12-12 15:33] madeleinerothberg commented on #82
@lseeman
Hi Lisa,
We would love to have more information on user settings for people with cognitive disabilities. Please do let me know what is in progress. I'm at madeleine_rothberg @ wgbh.org

[2016-12-12 15:45] clapierre commented on #82
Hello Lisa, @lseeman<https://github.com/lseeman>
Benetech and the Diagram Center are also very interested in this as well. keeping both Madeleine and myself looped in would be great!

Thanks
EOM

Charles LaPierre
Technical Lead, DIAGRAM and Born Accessible
E-mail: charlesl@benetech.org<mailto:charlesl@benetech.org>
Twitter: @CLaPierreA11Y
Skype: charles_lapierre
Phone: 650-600-3301

On Dec 12, 201

[2016-12-12 20:46] jasonjgw commented on #82
I’m also very interested in metadata regarding access features for people with learning/cognitive disabilities.

________________________________

This e-mail and any files transmitted with it may contain privileged or confidential information. It is solely for use by the individual for whom it is intended, even if addressed incorrectly. If you received this e-mail in error, please notify the send

[2016-12-13 00:58] patrickhlauke commented on #64
It's not necessarily just a question of which event handlers have been used (though there are "safe" ones, such as `click`, `focus`, `blur`, `contextmenu` which are reasonably input-independent in that they get triggered - sometimes in different situations, depending on the type of element they're on - by various input mechanisms), but also about whether or not handlers have been doubled up for di

[2016-12-13 01:00] patrickhlauke commented on #64
I can, however, see that this is perhaps leaning more towards general usability/UX, rather than accessibility (as in all users would be inconvenienced by this, rather than disproportionately users with disabilities)

[2016-12-13 09:23] alastc commented on #9
Amelia Bellamy-Royds replied to me and kindly allowed me to quote her entirely:

I have updated the SC text with 'graphical object' and the new definition. [Dec 13th version of the SC text](https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/index.php?title=Informational_Graphic_Contrast_(Minimum)&oldid=2628).

[2016-12-13 16:30] marcjohlic commented on #70
Signed up as SC Manager

[2016-12-13 16:30] marcjohlic commented on #62
Signed up as SC Manager

[2016-12-13 16:34] rachaelbradley commented on #33
I will sign up as SC manager for this issue.

[2016-12-13 16:35] rachaelbradley commented on #54
I will sign up as SC manager for this issue.

[2016-12-13 16:39] mraccess77 commented on #67
Signing up as SC manager.

[2016-12-13 16:48] lauracarlson commented on #18
Signing up as SC Manager for Issue 18.

(Per discussion on today's WCAG teleconference a WCAG participant can only manage 1 or 2 SCs where they were not the initial driver.)

[2016-12-13 17:27] joshueoconnor commented on #2
This needs to be clearer around exactly what a component is IMO.

[2016-12-13 17:31] joshueoconnor commented on #2
We also need a definition for control.

[2016-12-13 19:57] AmeliaBR commented on #9
@alastc
Thanks Alastair,

You currently have a couple spots in the Description section where you revert back to "graphical element", but otherwise looking good.

[2016-12-13 20:10] DavidMacDonald commented on #77
What about a responsive site? ... how would a user zoom in with touch. Generally they would pinch but that causes scrolling Horizontally.

Also, I noticed it makes no mention that this should be achievable without Assistive technology... should it say something like

"without assistive technology up to 400 percent without loss of content or functionality. "

[2016-12-13 22:35] alastc commented on #77
A responsive site is fine, in fact, that's why we can go more than 200%.

For mobiles, that is what the second exception is for: "If the user-agent fits the layout to the viewport and does not provide a means of reflowing content, two dimensional scrolling is exempt."

Most (all?) mobiles use a different model from desktop, where the layout is set as the page is loaded. There is no method of (pinc

[2016-12-14 14:43] joshueoconnor commented on #54
Thanks @rachaelbradley I've added this to https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1#Current_SC_Managers

[2016-12-14 14:43] joshueoconnor commented on #33
Thanks @rachaelbradley I've added this to https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1#Current_SC_Managers

[2016-12-14 15:07] joshueoconnor commented on #82
Assigned to @Ryladog https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2016-12-14 22:15] alastc commented on #71
The method of testing seems a little problematic to me, it relies on developers (or anyone responsible for testing) to be expert across all potential AT. (And know what is 'expected' for each AT across scenarios.)

WCAG 2.0 focuses on what the content does or is, and uses concepts like 'programmatically determinable' or 'a mechanism is available' to avoid making it a test of user-agents. It has to

[2016-12-14 22:28] alastc commented on #68
As per my comment on [Non-interferance with AT](https://github.com/w3c/wcag21/issues/71), would it be possible to make this a test of content instead of AT?

I like the examples, that made it much clearer to me and it seems the nub is the active but invisible controls?

I could be way off, but this will demonstrate what I have understood from reading the description above, how about something like

[2016-12-14 22:38] alastc commented on #69
Looks good to me, very clear.

As a very minor thing, I wonder if the word keyboard should be used with "a single character shortcut". I.e. "a single character keyboard shortcut". If other people understand it straight away then don't worry about this comment.

[2016-12-14 22:48] alastc commented on #61
This appears clear and testable to me.

I guess it would fail the current google maps interface on mobile? I can't see a means of zooming out or rotating the screen without multi-point gestures... they would have to add buttons for that to pass? Or provide a setting/mode that adds buttons for those functions.

[2016-12-14 23:43] alastc commented on #65
Looks good to me.

[2016-12-14 23:55] alastc commented on #59
From reading the SC text, I got very hung up on the onscreen keyboard aspect.

Then reading the description, I see the need for this ("for completeness") to provide the reverse of ensuring keyboard access.

Does the SC text really need to provide the onscreen keyboard as an example? In most cases it is probably having a button (e.g. the close-button for a pop-over), putting the onscreen keyboard i

[2016-12-15 00:03] alastc commented on #66
Looks clear, presumably a mouse is a "simple pointer"? I.e. the testing doesn't require testing both mouse and touch screen?

It does seem to be a fairly unlikely thing to happen though? At least in a way that would dis-advantage people with disabilities? Surely there will be lots of people (for the foreseeable future, which isn't very far, but anyway) who don't have an advanced pointer?

It also

[2016-12-15 00:09] jnurthen commented on #65
"Activation is on the up-event, either explicitly or implicitly as a platform's generic activation/click event;" sounds like a technique not a Success Criteria.

[2016-12-15 00:20] alastc commented on #65
Perhaps, but there isn't an SC for it to go under at the moment?

Do you mean the SC text should be generalise? E.g. _Selecting controls with a pointer should allow for incidental activation_, under which the methods are provided as techniques. (Not that I'm happy with that text, just trying to understand your point.)

[2016-12-15 00:30] jnurthen commented on #65
@alastc yes that is my point. Essentially what the up-event thing is trying to say (IMO) is that there needs to be a way for someone to start an activation and be able to do something to not complete that activation.
Using the up-event is a technique for this but who knows what else someone might come up with.

This was Q3 on @DavidMacDonald 's Acceptance Criteria
"Does it describe the specific co

[2016-12-15 01:37] GreggVan commented on #28
Looks good.  Why combine with an existing SC and confuse things.   Why not just make a new SC. Simplifies  Understanding WCAG 2.1   and  makes it easier to have Sufficient Techniques.  (also need examples.   This looks good but I have no idea what it means).

Consistent Identification Styles: Components that have the same type of information, or have the same function within a set of Web pages, ar

[2016-12-15 01:45] GreggVan commented on #52
Hmmmm
Provide easily available beginner's help or human help.

This one needs work I think.

Easily is not testable
Does this apply to every page?   Definition says that the help has to be useable by someone who isnt familiar with the internet.  Does that mean they don't know about links?   What does it mean?

Test says
Identify if this is a critical service according to the definition

The SC doe

[2016-12-15 01:47] GreggVan commented on #32
what is a "non-numerical value for a number"?

[2016-12-15 01:50] GreggVan commented on #32
"For each of the above conform that a sufficient technique has been used to supply additional support"  is not a valid test.     This means that ONLY documented sufficient techniques can be used to meet this SC.     The test has to be technique independent.   That is -- the validity of the technique is determined by the TECHNIQUES ability to meet the SC.     As written this test is therefor circul

[2016-12-15 02:00] GreggVan commented on #58
Great SC except that there are MANY other exeptions you need to make.  MAPS, Diagrams, drawings, plans, schematics , etc.

 And you can't make them by list -- you will always exclude them.

Before this can advance (and it is a good one ) you need to capture what needs to flow and what does not / can not without destroying the information.

hmmmm

how about

Except where reflow causes distortion or

[2016-12-15 08:59] lseeman commented on #32
This is not meant to be a valid test. That was NOT what we were asked to provide. This section was intended to discuss testability issue, such as if tools would be needed, and how people could know when they were done with the criteria.

I think Andrew and Josh had said that testing against a technique probably would be enough.

All the best

Lisa Seeman

LinkedIn, Twitter

---- On Thu, 15 Dec 201

[2016-12-15 09:05] lseeman commented on #28
Hi Gregg, we were asked to combine SC if possible as to avoid bloat.

It is fine with me if it is a separate SC

All the best

Lisa Seeman

LinkedIn, Twitter

---- On Thu, 15 Dec 2016 03:38:00 +0200 GreggVan&lt;notifications@github.com&gt; wrote ----

Looks good. Why combine with an existing SC and confuse things. Why not just make a new SC. Simplifies Understanding WCAG 2.1 and makes it easier to

[2016-12-15 09:12] lseeman commented on #32
We had all the sufficient techniques as part of the SC. That made it clear what was needed. We were asked to move them to the techniques section and we could test against them. (Of course we can move it back if the WG prefer. ). We also split it into a few Success criteria.

Original wording was:

Provided content and information that help users understand the content
 For icons and jargon:
 All i

[2016-12-15 09:26] lseeman commented on #52
to greggs comente"Easily is not testable" We have defined easily available so it is testable

"Critical service" This should be removed in the test. It is an error from copying from "extra help " SC #45

which is AA. This SC has a broader scope but is AAA. It is not widely applicable

All the best

Lisa Seeman

LinkedIn, Twitter

---- On Thu, 15 Dec 2016 03:45:41 +0200 GreggVan&lt;notifications@gi

[2016-12-15 09:35] lseeman commented on #32
A  non-numerical value is a value that does not rely on understanding numerical concepts and is not  expressed in numbers

Note that we ONLY require it where an understanding of mathematics is not a primary requirement for using this content. So if something can only be expressed as a number it is not required to provide an alternative.

Examples of were providing a non-numeric alternative is doab

[2016-12-15 09:36] alastc commented on #58
Can we use a similar exception to #77 Resize content?
...unless "the spatial layout of some the content is essential to that contents use, that part of the content is exempt."

It is worth considering these two together, as effectively Resize content is for browser based zoom up to 400%, and this one goes beyond that for people who re-style the content or remove styles from the content.

[2016-12-15 16:14] allanj-uaag commented on #10
log of comments https://docs.google.com/spreadsheets/d/17uFopFpjdpCB1yHgkz11fEJ8IGYfPioGsvFUX1Zq96k/edit#gid=0

[2016-12-15 20:20] emanser commented on #79
I would like to volunteer as SC manager for 79. Thank you

[2016-12-15 20:22] lauracarlson commented on #78
Signing up as SC Manager for Issue 78.

[2016-12-15 20:53] allanj-uaag commented on #9
<h2>Current DRAFT 15 Dec 2016</h2>
<h2> SC Shortname </h2>
<p>Informational Graphic Contrast (Minimum)</p>
<p>(Please note: this SC is separate from the <a href="https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Contrast_(Minimum">Interactive Element Contrast (Minimum)</a> SC.
<h2> SC Text </h2>
<p>The visual presentation of graphical objects that are essential for understanding the content have a

[2016-12-15 23:03] alastc commented on #77
David commented on-list that he didn't get that the second exception essentially meant small screen/mobile devices.

Do people think we could cut the layout (technology specific) aspect and just say:
"If the user-agent does not provide a means of reflowing content, two dimensional scrolling is exempt."

I'd like to keep it general rather than put 'mobile' in the SC text, we can explain that in the

[2016-12-16 12:09] joshueoconnor commented on #72
Updated in wcag21 source files b32ee2f

[2016-12-16 17:43] alastc commented on #77
If it is possible to replace the current 1.4.4, I would adjust the second exception:

I'm not entirely happy with that wording, but also trying to avoid having lots of caveats!

[2016-12-16 18:51] DavidMacDonald commented on #77
If the user-agent does not provide a means of reflowing content, text can be resized up to 200% and two demential scrolling is exempt.

Ideally we'd stay away from User agent exemptions... but I don't know how else to fix it, unless we say something like "small screens" and then define that... I'm actually attracted to that term (or something like it) for a number of mobile things also.

[2016-12-16 19:03] DavidMacDonald commented on #57
Need to define two-dimensional scrolling:

[2016-12-16 22:13] alastc commented on #77
The problem is that the 'switch' between layout methods is not at a particular screen size.

- Desktops go down to, well, 1024px wide and 10" screens, ish?
- iOS (e.g. iPad) goes from 4" up to 12", and at no size will it let you zoom + reflow or increase the text size of web content except by pinch-zoom with horizontal scrolling.

I would guess there are weird & wonderful windows/android tablets t

[2016-12-17 23:07] DavidMacDonald commented on #65
We tried a number of ways to word this, and this seemed to be the clearest. It is a generic term "up-event" rather than technology specific. Otherwise we risk getting into what the user can and can't do, which can be difficult to assert given the vast array of abilities various users may or may not have...
However, I think we might be able to address @jnurthen  concern by adding a bullet something

[2016-12-17 23:42] GreggVan commented on #32
Ah Thanks

gregg

[2016-12-17 23:46] GreggVan commented on #32
Hmmm
I think you missed the point.

Sufficient techniques are EXAMPLES of things that are sufficient.   But you must be able to test an SC WITHOUT relying on any example technique.     Otherwise the ONLY way to satisfy the SC is the technique — and we never say that our techniques are the only way — just one way.

So saying that passing a technique is the test — is not a valid approach to testing

[2016-12-17 23:48] GreggVan commented on #52
RE Critical Service —  thanks

RE   Easily is defined — can you point me to the definition?   Appreciate that.

gregg

[2016-12-17 23:49] DavidMacDonald commented on #77
i don't think we want two sizing scs

[2016-12-18 00:03] alastc commented on #77
Well, there are two layout methods with very different attributes, so you either have two or ignore mobile.

[2016-12-18 04:08] Ryladog commented on #77
We can't change 1.4.4 for backwards  compatability, so any solution
suggestions are going to need to be new SC.

Katie Haritos-Shea
703-371-5545

On Dec 17, 2016 6:03 PM, "Alastair Campbell" <notifications@github.com>
wrote:

[2016-12-19 09:53] alastc commented on #77
Hi @Ryladog, I had assumed that to, but David pointed out that the [previous decision/consensus](https://www.w3.org/2016/07/19-wai-wcag-minutes.html#item03) was to write them as though they were additions-only, but once we've got them all together we could decide if it made sense to edit current ones.

I don't think anyone wants three separate resize criteria, so we can either we add this one, or

[2016-12-19 11:53] liamquin commented on #77
On Thu, 2016-12-01 at 12:44 -0800, allanj-uaag wrote:

Why are you hard-wiring 400% here? Is a user agent that allows resizing
to 800% non-compliant? What about 200%, is that OK? (trying to
understand the rationale here)

Suggest,

The content of the Web page can be increased at ratios of up to at
least 400% without...

So "islands of inaccessibility" are allowed? That seems sucky.
At any rate sho

[2016-12-19 13:41] alastc commented on #77
We aren't testing the user-agent, it is the content that has to pass. However, we should probably align with the current 1.4.4 and say "up to".

The rational is that with modern methods not available at the time of WCAG 2.0, it is much easier to allow for increasing size of text & content.

If a site has a layout that works in a 1200px wide desktop browser, zooming in 400% means you have a 300px w

[2016-12-19 15:50] lauracarlson commented on #78
@DavidMacDonald noted on his [spreadsheet](https://docs.google.com/spreadsheets/d/1XShLFX8fxHYYLn8A6avDwu37w9JfnZCGWvAKBpK9Xo4/edit#gid=0)  that this proposal does not seem to meet the "All Technologies" [SC acceptance criteria](https://www.w3.org/WAI/GL/wiki/WCAG_2.1_Success_Criteria) and that it is "Not Mature User/Agent issue".

Thoughts?

[2016-12-19 16:00] patrickhlauke commented on #78
Not all browsers - particularly on mobile/tablet devices - support user stylesheets, and don't provide any browser/OS level controls that are this granular. The only possible solution for an author to meet this SC would then be to implement a complete customisation/personalisation system for their page/site, which is technically non-trivial and onerous (for a AA, and even a AAA). In my opinion, of

[2016-12-19 16:03] alastc commented on #78
I think there are a couple from LVTF are are essentially 'passed' when you use HTML based tech, but the idea was to include it to add the requirement other technologies. I believe this is one?

For anyone coming to it fresh it appears to ask for customisation, but that isn't the aim.

It would be useful for Jim or someone more familiar with that to raise it at WCAG level, as I think it is "mature"

[2016-12-19 16:06] lauracarlson commented on #18
@DavidMacDonald noted 2 issues on his [spreadsheet](https://docs.google.com/spreadsheets/d/1XShLFX8fxHYYLn8A6avDwu37w9JfnZCGWvAKBpK9Xo4/edit#gid=0) regarding this proposal. They are that the proposal:

1. does not meet the [Testable point in the WCAG SC acceptance criteria](https://www.w3.org/WAI/GL/wiki/WCAG_2.1_Success_Criteria).
2. overlaps with COGA Issue [#6 Support personalization](https://g

[2016-12-19 16:12] alastc commented on #18
1. Need more information on why it isn't testable - the testing bit seems clear to me (but I wrote it), can @DavidMacDonald or someone comment on what isn't clear?
2. Anything which could be addressed by personalisation will overlap with #6, but this one could be avoided by not using animation, or addressed by means other than personalisation.

[2016-12-19 16:29] awkawk commented on #60
@jnurthen - the touch target for the A-Z seems to be 40px wide and hundreds of px tall. That control is essentially a slider.

Are there other examples of well-known, small UI that we should be thinking about?

[2016-12-19 18:03] DavidMacDonald commented on #78
My concern is that this really is a User agent issue. I dread the thought of telling large companies to use up prime real estate (i.e. top right) with a gears icon and a bunch of CSS swapping radio buttons in there. Currently, EDGE reading mode is doing this kind of thing. So I agree with Patrick on this.

[2016-12-19 18:08] WayneEDick commented on #2
How can a user turn these comments off? Sometimes actions can be relevant, but you want to concentrate on what you are doing.

[2016-12-19 18:09] WayneEDick commented on #2
The programmatic reading order looks like "correct reading sequence" already defined in WCAG 2.0 glossary.

[2016-12-19 18:56] alastc commented on #78
But no-one is saying that a website would have to provide customisation options.

If you use HTML you pass, if you use something else, you may need to provide options.

[2016-12-19 19:39] WayneEDick commented on #54
This really needs coordination with Issue 2 (before Issue 3).  This is stated more clearly, but it may not be as easy to implement. I like it.

[2016-12-19 19:48] WayneEDick commented on #2
This really needs coordination with [Issue 54](https://github.com/w3c/wcag21/issues/54).
It is stated in plain language. There is a problem with the language in  [Issue 2](https://github.com/w3c/wcag21/issues/2).

What does this cover that is not covered by  [Issue 54](https://github.com/w3c/wcag21/issues/54)?

[2016-12-19 22:03] liamquin commented on #77
On Mon, 2016-12-19 at 05:41 -0800, Alastair Campbell wrote:

[...]

Looks clearer now. Maybe "up to at least 400%" would be even better but
I'm OK either way. Thanks.

[2016-12-20 00:18] jnurthen commented on #77
There has to be some minimum width specified under which the content is not expected to reflow.

As it stands if I were to size my browser to the minimum width allowed (in chrome this went down to 256px in my instance, FF to 302px and IE to 217px ) and then zoom to 400% I have less that 100px width for my content (and only 57px in IE). This is not practical for any layout and needs to be rethought

[2016-12-20 09:31] alastc commented on #77
That applies to the current 1.4.4 as well, it's almost as easy to destroy a layout at 200% if you do that.

Whilst it might sound reasonable to adjust a desktop browser to a mobile size, is there evidence that anyone does this? They have different layout mechanisms (and we're excepting mobile as a separate issue), so why try to support an odd behaviour of re-sizing your browser to a tiny size on a

[2016-12-20 12:58] lauracarlson commented on #78
@allanj-uaag , @slhenry , and @WayneEDick your thoughts on whether this SC is a user agent issue and be should deferred to Silver? Please see [David](https://github.com/w3c/wcag21/issues/78#issuecomment-268033716)'s and [Patrick](https://github.com/w3c/wcag21/issues/78#issuecomment-268001666)'s comments.

The proposed text does say that "a mechanism is available...", which gives the impression of

[2016-12-20 15:17] joshueoconnor commented on #63
@kwahlbin  The link to the first technique (Using standard one touch controls) is incorrect - it references the template.

[2016-12-20 15:25] joshueoconnor commented on #63
I think this is good - but wonder if it needs to better support the reader. We cant assume any a priori knowledge about what does/does not work with platform AT. I think this needs more examples like those in 'Examples' "If a developer assigns a double tap as a custom gesture, as the only way [...]"

So could we add some of the most common? Or call them out in the supporting materials? I think wit

[2016-12-20 18:34] mbgower commented on #82
From discussions, I believe this candidate SC is primarily intended to address reporting of alternative content, and almost exclusively as it relates to Time-based media. As stated in the Principle section, the motivator for this appears to have been packaged publications (i.e. ePub) that wish to indicate supported content, much like a DVD package might indicate that it contains language tracks an

[2016-12-20 19:02] mbgower commented on #79
How is the author supposed to control the user agent? This seems like another of the candidate SC which would be met automatically with most browsers, and which otherwise is tough to author.  http://www.howtogeek.com/208552/how-to-change-the-default-fonts-in-your-web-browser/
I question the value of a SC which is just going to be rubber stamped as passing.
I'm trying to think of how this could be

[2016-12-20 22:01] michael-n-cooper opened #83 "definitions in frontmatter and glossary"
WCAG 2.0 had definitions in the frontmatter for web page, programmatically determined, and accessibility supported, but also defined the first and third in the glossary. This makes it ambiguous which terms should be referenced in links, and resulted in duplicate definition errors from respec. I removed the defining instances of the duplicates but links to programmatically determined will still exc

[2016-12-21 14:04] alastc commented on #78
So it seems people are having a similar reaction that I had when joining the LVTF, thinking that it is requiring on-page widgets, when in fact HTML passes by default.

There needs to be a way of saying that in the SC text, but somehow not make it technology specific!?

The closest thing in WCAG 2.0 is from 1.4.5 Images of text, which starts: “If the technologies being used can achieve…”

Perhaps s

[2016-12-21 18:13] lauracarlson commented on #78
Hi @DavidMacDonald and @patrickhlauke,

Would [Alastair's suggested SC text](https://github.com/w3c/wcag21/issues/78#issuecomment-268530368) work for you?

Thanks,
Laura

[2016-12-21 20:10] patrickhlauke commented on #78
In practice, even with that particular text, it would mean requiring even HTML/CSS based sites that are to be displayed on the currently common mobile platforms/browsers to provide actual widgets/personalization options (since to my knowledge none of the browsers on iOS/Android/Windows Mobile provide this sort of element-level granular control). So this seems very ambitious and onerous as a AA, ev

[2016-12-21 21:46] lauracarlson commented on #78
Thank you @patrickhlauke . I really appreciate your expertise on the mobile front. Can you think of any other possible way to word the SC that could work?

[2016-12-21 21:56] patrickhlauke commented on #78
I don't believe the problem is one of wording as such. It's just that no UA offers the necessary mechanism to satisfy the suggested requirement of the SC, meaning that in these scenarios authors effectively HAVE to provide a widget or some form of per-site personalization.  Not sure how this tension could be resolved...if what the SC is proposing is indeed needed by particular user groups, one *co

[2016-12-22 12:49] lauracarlson commented on #78
Thanks, @patrickhlauke .

 @allanj-uaag , could you please add this to the next LVTF agenda?

[2016-12-25 20:18] lseeman commented on #32
Hi Gregg
I had an conversation with AWK who felt it might be sufficient, so there is clearly not consensus here. Anyway, this section is ideas on testability. It is not meant to be a full all encompassing test. We do need to be sure however that  SC is testable.

[2016-12-26 12:45] goetsu commented on #79
Is it an invitation for authors to implement feature to let user choose font he want ? in that case better to be AAA I think because can be costly to implement

[2016-12-26 12:46] goetsu commented on #78
Is it an invitation for authors to implement feature to let user choose spacing he want ? in that case better to be AAA I think because can be costly to implement

[2016-12-26 13:07] goetsu commented on #75
Even if I share and understand the need, this will basically make 99% of the site I know claiming conformance to wcag 2.0 AA not conforming anymore. I think it must be moved to AAA or wait for wcag 3.0. It also look to me more as a UAAG issue than authors issue for example If I remember well edge started to show tooltip on focus

[2016-12-26 13:09] goetsu commented on #74
Is it an invitation for authors to implement feature to let user choose background / text color he want ? in that case better to be AAA I think because can be costly to implement

[2016-12-26 13:21] goetsu commented on #68
Do it mean that any website using icons only for button like cart, like, home, email, etc without text next to the icon can't conform to WCAG 2.1 level A ?

[2016-12-26 13:29] goetsu commented on #60
dots navigation for carousel

[2016-12-26 22:07] alastc commented on #75
Your estimation of it's commonality is different form mine, I've checked around some sites and the only use that I could find was either ok (and not failing here) or mis-use that probably should fail (something).

I was using this CSS to view titles (using a bookmarklet to append the CSS):
[code]

On the [BBC homepage](https://www.bbc.co.uk/) the only titles are on the 'remove' buttons. They don't

[2016-12-27 10:13] goetsu commented on #75
title attribute is explicitly mentioned in multiple wcag techniques as a possible solution, like :
https://www.w3.org/TR/WCAG20-TECHS/H33.html for links
https://www.w3.org/TR/WCAG20-TECHS/H64.html for iframe
https://www.w3.org/TR/WCAG20-TECHS/H65.html for form inputs
https://www.w3.org/TR/WCAG20-TECHS/H89.html for context sensitive help

even if many people including myself doesn't think those tec

[2016-12-30 00:38] DavidMacDonald commented on #57
First attempt to combine Issue #57 and #58 SC Text

Content can be viewed as a single column, with blocks of text in this column user adjustable to 25 characters without requiring two dimentional scrolling. except for the following:

* Data tables may retain their multi-column format with reflow.
* The user agent cannot reflow content containing interactive controls.
* If the user-agent fits the l

[2016-12-30 00:55] DavidMacDonald commented on #58
First attempt to combine Issue #57 and #58 SC Text. I've borrowed some language from Gregg and dropped some of the complexity in the exceptions of #57 that I think is already covered in "meaningful sequence"

## Resize content
All content can be viewed as a single column with reflow; blocks of text in this column are user adjustable to 25 characters without requiring two dimensional scrolling, exc

[2017-01-03 14:45] lauracarlson commented on #75
The title attribute has support issues. Ref:  [Using the HTML title attribute ](https://www.paciellogroup.com/blog/2013/01/using-the-html-title-attribute-updated/) by @stevefaulkner

[2017-01-03 15:08] goetsu commented on #75
Thanks @lauracarlson i'm aware of that but it still something currently allowed in wcag 2.0 techniques.

If in WCAG 2.1 title isn't allowed anymore fine but that mean that a lot of website conforming to WCAG 2.0 won't be able to conform without changing techniques used to conform and doing that we may end up with solution even less accessible that title like aria-label or hidden label or hidden te

[2017-01-03 15:22] goetsu commented on #60
regarding the issue mentionned by @kwahlbin for paragraph with high density links we maybe can exclude those kind of links (links within text) form this requirements

[2017-01-03 15:32] bruce-usab commented on #78
Just now signing up for GitHub...

I am okay with this SC, but think it needs to be at same level as [1.4.8](http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-visual-presentation.html) (currently AAA) because (as compared to 1.4.8:
- It does less for people low vision (I think)
- It impacts the visual design more
- It is more work for content authors

I would also recommend a note si

[2017-01-03 15:45] joshueoconnor commented on #79
This is assigned to Erich Manser (awaiting Github ID) - https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1#Current_SC_Managers

[2017-01-04 20:04] goodwitch commented on #10
Jim Allan is getting ready to post the first round of changes that are based on the great feedback that has come in on this issue.  Here are my notes of the first round of changes:

1. Changed from proposed Level A to proposed Level AA. (Why: To stay in sync with Issue 9. Suggested by Makoto, Bruce Bailey & AWK. Approved by LVTF.) When: Change made in wiki on 19:51, 7 December 2016‎
2. Changed "se

[2017-01-05 18:19] lauracarlson commented on #78
On [today's LVTF call](https://www.w3.org/2017/01/05-lvtf-minutes.html#item01) we discussed having an exception for UAs that do not provide a way to adjust spacing. If the user-agent does not have a way (such as mobile does not currently allow user style sheets), authors would be exempt. This SC would not be applicable in those cases.

However, authors would be responsible for where it is indeed f

[2017-01-05 18:54] lauracarlson commented on #78
@goetsu  No this SC is not about spacing widgets.  It is about letting people with Low Vision who use desktop browsers  apply their own stylesheets without authors introducing barriers.

[2017-01-06 03:21] mbgower commented on #78
The SC does not just call for the ability for users to control spacing, but specifies that a "mechanism" is available to provide that spacing. From that perspective I feel that it _does_ imply that authors are required to customize a mechanism.
There are 8 existing SC that refer to providing "mechanisms", six of which are AAA:
audio control (A)
visual presentation (AAA)
bypass blocks (A)
link purp

[2017-01-06 08:45] goetsu commented on #78
@lauracarlson I understand it better now thanks for your comment.

I agree we must have an exception if the UA doesn't have a feature to let user change spacing adjustments but are you aware of any UA that allow to change it ?

From what I know it not the case for at least Firefox, Safari and Internet Explorer so basically this SC will be always non applicable for now.

Maybe we can consider that

[2017-01-06 10:35] patrickhlauke commented on #78
Indeed, if user styles are the intended "mechanism" that comes out of the box (rather than requiring an explicit widget etc), it seems that user stylesheets are currently are not supported by Edge at all, and supported in Firefox and Chrome only through the use of third-party plugins. Internet Explorer and Safari still provide options in their settings for them (in IE: Internet Options > General >

[2017-01-06 13:13] lauracarlson commented on #78
Thanks @mbgower !

Mike, I like [your proposed SC text](https://github.com/w3c/wcag21/issues/78#issuecomment-270822241) better than [my first attempt at it](https://github.com/w3c/wcag21/issues/78#issuecomment-270716413). Much simpler. And the word "adjusted" makes more sense than the word "selected".

Do you think we still need the exceptions? I had the following the exceptions:

A general techni

[2017-01-06 13:21] lauracarlson commented on #78
Hi @goetsu ,

You are welcome. Thank you for your comment, Aurélien. [You asked](https://github.com/w3c/wcag21/issues/78#issuecomment-270857877):

[VIP PDF Reader](http://www.access-for-all.ch/en/201-englisch/500-vip-pdf-reader-e.html) was mentioned in yesterday's [LVTF meeting](https://www.w3.org/2017/01/05-lvtf-minutes.html#item01).

But I haven't been able to get it to work. Can anyone?

[2017-01-06 13:33] lauracarlson commented on #78
Hi @patrickhlauke

Thank you very much for your comment, Patrick. You wrote:

The one danger I can see here is that user styles are an unknown quantity for both authors and auditors. It will be difficult to explicitly author against and test all possible values/ways in which user styles try to affect a page. At the very least, a sample "ideal" user stylesheet should be provided for consistent test

[2017-01-06 15:15] mbgower commented on #77
There are a few things I would like to get clarified on this. For instance, I tend to think of Zoom (NOT text-only zoom) as a pure, indiscriminate magnification of the entire content. On this github page, for instance, if I Zoom on Firefox, a horizontal scrollbar appears after 3 increases. At 400%, I get scrollbars on google, deque, facebook, etc. It's not a non-trivial issue. I'm aware that a sit

[2017-01-06 15:36] mbgower commented on #76
I had a few questions. First, is there any possibility of a failure based on the font substitution between the printer and the screen? Same goes for a screen layout that exceeds the printable size of the paper. At some point the printer is going to have to modify the precise view of the user to fit things to a standard page. Some language around this not being a failure would be helpful.
Second, w

[2017-01-06 17:38] emanser commented on #76
Happy to pick this one up too as SC Manager

[2017-01-06 17:38] emanser commented on #74
Happy to pick this one up too as SC Manager

[2017-01-06 18:04] mbgower commented on #75
A number of concerns and thoughts on this.
First, unless title is only used on a piece of text that is entirely separated from all content by a lot of whitespace, a tooltip is going to obscure _something_. That is its nature. So this SC as written ("does not obscure other content") would effectively make most uses of title fail WCAG. As a result, I suggest this language needs to be refined in some

[2017-01-06 18:31] mbgower commented on #75
Here's another way of thinking about this. Currently there are 2 levels of link purpose: one where the link is clear from its surrounding context (2.4.4); one where the context is clear from the link text alone (2.4.9). Maybe another way of tackling non-persistent information content is to create a new AAA where all informational content is provided persistently or without the need for additional

[2017-01-06 18:40] alastc commented on #77
I'm not sure I get the same thing for some of your examples?

Github & Facebook don't use a responsive (enough) design, but Deque I can easily get to 500% with no horizontal scrolling. On sites which started responsive 500% is feasible on Gov.uk, and BBC.co.uk works without scrolling at 400% starting with an 1100px wide browser.

Are you sure you don't have the 'text-only' zoom applying in Firefox

[2017-01-06 23:12] mbgower commented on #77
@alastc , that is strange regarding the differences with deque.com. Nope, I'm not using text-only zoom, and I'm resetting before testing.  I actually see horizontal scrollbars with the first 4 increases, then on the fifth increment -- I assume when the zoom hits a breakpoint -- the scrollbar goes away, and then with the next zoom and all subsequent, it comes back again. Not trying to pick on that

[2017-01-06 23:45] mbgower commented on #74
I like the wording of this short description, which removes the onus from the author to cover user agent features and lets the author focus on good authoring practices. That may be a good approach for a number of other LVTF candidates which also tough on user agent features.
Some issues:
If I as a user change the foreground AND background to the same colour I can no longer see any information. Acc

[2017-01-07 10:44] alastc commented on #77
I think the failure would be needing to horizontally scroll to see the content (barring exceptions), not the presence of scroll bars. I can't get scroll bars on the Deque example, perhaps there is some browser-bug there but if you don't need to scroll horizontally to read/use it, that's the main thing.

Yes, but that doesn't mean it has to work in every user-agent. E.g. You should use a UL for an

[2017-01-08 16:41] WayneEDick commented on #78
In fact a mechanism does exist for at least two user agents to enable user style sheets. So mechanisms exist that are available to users with low vision to apply user style sheets. So, If one uses a laptop or a desktop one can change line, letter and word spacing.
If no mechanism exists for a technology then authors are off the hook. But I don't see why authors of HTML should not code in a way to

[2017-01-08 17:13] patrickhlauke commented on #78
Random thought: then why not generalise the SC so that all sorts of presentational attributes (beyond just spacing) can be changed using user styles or similar? And the failure examples could then include things like `!important` and `style` attributes?

[2017-01-08 18:43] jnurthen commented on #78
Why would !important and inline style attributes fail? An element defined
with !important in the user style sheet will override both of these in the
source document as far as I'm aware.

On Sun, 8 Jan 2017 at 09:13 Patrick H. Lauke <notifications@github.com>
wrote:

[2017-01-08 18:56] patrickhlauke commented on #78
with !important in the user style sheet will override both of these in the
source document as far as I'm aware.

Just tested this, and yes you're right: providing that a user stylesheet is written appropriately, `!important` in the author's styles and `style` attributes do NOT override the user styles. As such, I'd be interested in seeing some hard examples of where authors are breaking user style

[2017-01-08 23:39] alastc commented on #78
I'm not sure I understand, did you mean the selectors would have to be specific for the site? Or that using the star selector is the better approach? (Which seems the opposite of more specific?)

[2017-01-08 23:41] patrickhlauke commented on #78
specifically as in "with the specific intent of working in a variety of situations". admittedly a poor choice of words, so let's pretend i wrote "more generally" instead.

[2017-01-09 03:09] DavidMacDonald commented on #57
Here's a rewrite:

A mechanism is available to adjust blocks of text to a line length of 25 characters, with no two-dimensional scrolling required except where:
* The user-agent fits the layout to the view port, and does not provide a means of re-flowing content.
* The spatial layout of text is essential to its use.

[2017-01-09 03:15] DavidMacDonald commented on #58
I dropped the combine idea for 57, 58. Here's a tweak of #58. Don't need the bit about reading order... its already required. SC 1.3.2

Content can be viewed as a single column, except for:
* Data tables
* If the user agent cannot reflow content containing interactive controls, the author is exempt from reflow with this content.

[2017-01-09 15:46] mbgower commented on #79
Okay, now that I've reviewed all the LVTF candidate SCs, I'm seeing a number of patterns/repetitions that I'd like to identify and suggest modifications for.
Font Family, Spacing and Text Color all cover visual text attributes. They are all arguably candidate SCs for which there are no authoring requirements.
To what extent can authors enable or impede the user manipulation of visual text attribut

[2017-01-09 18:06] mbgower commented on #57
Continuing with my discussions on themes in the LVTF candidate SCs and their relationship to the existing 1.4.8 Visual Presentation, I'm going to discuss Reflow to a Single Column, Line Length and Resize Content here.

It seems to me there are 2 broad principles being advocated:
- no horizontal scrolling
- resize content to 400%

I don't understand the value of considering Reflow to a Single Colum

[2017-01-09 18:15] mbgower commented on #58
Okay, last of my broad LVTF comments...
I'd like to assert that IF you make a requirement to Reflow into a single column without horizontal scrolling, it is very difficult to imagine a situation where you would need a more elaborate Resize Text requirement. If I can reach the existing 200% Resize Text _and_ my authoring enables the new requirement to reflow into a single column without horizontal

[2017-01-09 18:37] DavidMacDonald commented on #58
## If #57 and #58 are combined it could be something like this

A mechanism is available to view content as a single column, with blocks of text in this column user adjustable to 25 characters without requiring two dimensional scrolling, except where:

* The content is in a data table which have more that one column.
* The content contains interactive controls that that cannot be reflowed.
* The u

[2017-01-09 18:46] DavidMacDonald commented on #58
@mbgower  I think most modern browsers stop at about 400%. There might be an argument for combining #77 resize one in here with #57 and #58. But I'm thinking we may want to leave them separate in the draft.

[2017-01-09 18:47] WayneEDick commented on #78
​The term a mechanism does not imply a user agent restriction. For example,
the accessibility API for a system is a mechanism, without which much of
WCAG and ARIA are useless. User style sheets and user agent extensions are
such mechanisms. Fortunately two major user agents have extensions that
support user style sheets. That means that a mechanism exists to change
style, presentations like, spaci

[2017-01-09 18:52] WayneEDick commented on #78
The term a mechanism does not imply a user agent restriction. For example, the accessibility API for a system is a mechanism, without which much of WCAG and ARIA are useless. User style sheets and user agent extensions are such mechanisms. Fortunately two major user agents have extensions that support user style sheets. That means that a mechanism exists to change style, presentations like, spacin

[2017-01-09 18:53] mraccess77 commented on #78
Laura asked about important not being able to be overwritten by the user.  In my experience when user agents allow for user styles those can override.  However, many browser's don't offer this anymore and thus we must use tools, plug-ins and bookmarklets like the Stylish extension.  When using these extensions the scripts are inserted into the page at the document level and thus "important" may no

[2017-01-09 19:44] WayneEDick commented on #78
The instances of inline !important are rare, but I have found them very hard to override. The main problem is that user style sheets have the lowest priority of all, and inline style has the highest. However, the following extremely general CSS will ferret out most 'stinker' pages.

* {
    line-height: 1.36 !important;
    letter-spacing: 0.03em !important;
    word-spacing: 0.07em !important;
}

[2017-01-09 19:49] WayneEDick commented on #78
We left general element level style accommodation off the list, but maybe we should have included it.
What people with low vision really need is non-interference from authors when it comes to altering the visual presentation of content wherever there are user agents that support changes in visual presentation. This non-interference should apply all the way to the element level.

[2017-01-09 19:57] mraccess77 commented on #78
Ø  The main problem is that user style sheets have the lowest priority of all, and inline style has the highest.

I’m not sure if this has changed – but in CSS Level 3 inheritance should be as follows:

An important<https://www.w3.org/TR/2013/CR-css-cascade-3-20131003/#important0> declaration takes precedence over a normal declaration. Author and user style sheets may contain !important<https://ww

[2017-01-09 22:05] patrickhlauke commented on #78
this is not a problem of priority, but rather of CSS specificity. If you've got very generic style definitions in your user styles, they At the same level of CSS specificity, user styles (if implemented in the true sense, i.e. natively in browser rather than through a third-party extension that simply inserts them into the document level) trump inline styles, document styles, etc.

as a simplified

[2017-01-09 22:18] lauracarlson commented on #78
Hi All,

I put together a [simple test case](http://www.d.umn.edu/~lcarlson/wcagwg/tests/user_styles/important_spacing.html).

A [spacing.css](http://www.d.umn.edu/~lcarlson/wcagwg/tests/user_styles/spacing.css) user stylesheet is available with Wayne's CSS declarations. Thanks @WayneEDick !

What results do people get? Does CSS specificity work in user agents as in the spec?

I tested in Safari a

[2017-01-09 23:22] alastc commented on #58
@mbgower For context, the original user-requirement  was for the ability for a 1100% increase in sizing without horizontal scrolling!

That was broken down into two:

1. Resize content (400%), an advance on the current resize text but making use of responsive techniques. This is something content authors should test for as part of normal display with the site CSS, branding etc. Given the spread of

[2017-01-10 02:05] lseeman commented on #79
Hi

Please look at use a clear text-and-voice  wcag issue 27  and   visual-presentation wcag issue 51

There is a clear ovelap, however as we say " Provide clear typography (text and numbers),...
we alow for the SC to be met via  personalization

Also we are working on new personalization framework wich might work better then user style sheets

[2017-01-10 13:50] lseeman commented on #58
merge with merge with  visual-presentation wcag issue 51 Or
with support-personalization wcag issue 6

[2017-01-10 15:26] mbgower commented on #9
I'm not sure where to comment on the [Graphics Contrast Testing Explanation](https://alastairc.ac/tests/graphics-contrast-explanation.html), so I'll included it here.
I think this approach is interesting, but Example 2 is not appropriate. Since you have included the text percentages on the pie chart itself, it merely becomes an exercise in Contrast Minimum. I strongly urge you to remove the percen

[2017-01-10 15:34] mbgower commented on #9
I suggest adding an exception that covers the text equivalent you list later inside the content:

This is a crucial exception to understand, but it needs to be phrased clearly and explicitly, and I think listed at the top as a clear exception is the way to do this. When it comes to techniques, I also would like a bit more language around this second point, as I'm not comfortable with someone hunti

[2017-01-10 16:25] joshueoconnor commented on #57
I like the idea of merging this with #58 because it bypasses the mechanism issue as well as the proscriptive 25 characters issues.

[2017-01-10 16:28] DavidMacDonald commented on #58
Link to Lisa's proposal #51

[2017-01-10 16:33] moekraft commented on #10
Nice job Glenda and Jim. Thanks for keeping us up to date on the changes.

[2017-01-10 16:51] lauracarlson commented on #57
[January 10, 2017 Line Length Survey Results](https://www.w3.org/2002/09/wbs/35422/WCAG21_SCs_1/results)

[2017-01-10 19:01] lauracarlson commented on #18
[email thread on WCAG mailing list](https://lists.w3.org/Archives/Public/w3c-wai-gl/2017JanMar/thread.html#msg141)

[2017-01-10 19:14] DavidMacDonald commented on #18
I guess I identified 3 things that I'd like to know more about

(1) A definition of "Significant" (Is the test case a definition?)
(2) It is a major requirement on the modern web which is full of animation, so we better be ready to defend it, it requires designers to change designs, marketing to carve out space for a button on the "above the fold" etc...
(3) minimal research available on triggerin

[2017-01-10 19:33] lauracarlson commented on #18
Hi @nattarnoff ,

Have you gotten the[ results of your survey](https://twitter.com/nattarnoff/status/803963858859814912)? Do you have any data on triggering characteristics such as (length of exposure, speed, provocation, time of day, etc.)  Check [David's email](https://lists.w3.org/Archives/Public/w3c-wai-gl/2017JanMar/0143.html).

[2017-01-10 20:09] nattarnoff commented on #18
@lauracarlson while I have responses, I don't know that they identify what David is asking for. For one, it wasn't the best of composed surveys and I have a list of improvements to make it more scientific and easier to answer. The other aspect is I only received 42 usable responses. Considering about half of them don't have any disability at all, the findings are pretty slim. They achieve the goal

[2017-01-11 12:42] DavidMacDonald commented on #57
I think what is emerging is two amendments to the proposal
(1) Line length can be narrowed to around 50-60 characters rather than 25
(2) a baseline font size of 100% (no zoom) for the purposes of measuring whether the SC was met or not.

So the new proposal, addressing some of Greg Lowney's, Mike Pluke's comments and others could be something like:
=============
For all visual presentation of text

[2017-01-11 12:47] awkawk commented on #57
Thanks David. It seems that the internationalization question is still open. John has expressed concerns about using a specific number of characters, but if we do we should model after the 1.4.8 80/40 split to support CJK.

[2017-01-11 18:10] mapluke commented on #2
I agree with Wayne that there "is a problem with the language". One example is that it is unclear what the "except" (in the third line of the four line 51 word sentence) "programmatic notification" applies to. I've read this definition several times and I'm still not sure I have fully got the correct intended meaning.

[2017-01-11 18:28] mapluke commented on #2
In attempting to co-ordinate with [Issue 54](https://github.com/w3c/wcag21/issues/54), I believe that there is a major difference that must be overcome. [Issue 54](https://github.com/w3c/wcag21/issues/54) states what is **really** needed by users "programmatically-determinable, rapid feedback in the primary modalities of the content". However, [Issue 2](https://github.com/w3c/wcag21/issues/2) call

[2017-01-11 18:58] mbgower commented on #58
@alastc said:

Can you please explain the rationale for that target?
I'd also like to understand how you approach this target without AT. The most magnification I've seen in a user agent is 500%. Reflow doesn't make that number go any higher.
Reflow gives an author the ability to magnify 4x without scrolling. My admittedly quick assessment of a handful of well-known/used sites suggests that the br

[2017-01-11 19:03] mbgower commented on #58
BTW, shouldn't no two-dimensional scrolling (or whatever we're going to call it) be specified in this SC? Just because something is one column, doesn't mean it fits the browser width. I think that has to be clearly stated -- and there may need to be some language around the minimum width supported.

[2017-01-11 19:33] mbgower commented on #10
Am I correct thinking that someone entirely removing the outline on a text area would PASS this, since there is no visual distinction? I have seen sites remove the border of text inputs before -- leaving just a cursor blinking by a label as the sole indication of the field. I would really like to be able to fail that!
That said, I was surprised to see the border of a text input field being used tw

[2017-01-11 20:47] jnurthen commented on #57
This is going to be really hard to implement in a way that doesn't make the entire construct more difficult to use for many widgets. For example, if you wrap in a tree it is going to be really difficult to tell apart the wrapped line vs the next object in the tree. Same applies for menus.
Can this be limited to paragraphs of text which I think is its original aim?

[2017-01-11 20:54] goodwitch commented on #10
@mbgower interesting question about the text area.  I was initial thinking that it would fail....but that dang blinking cursor may indeed pass.  And, yes, we are working on additional examples and will include one for buttons as well.  Interesting idea about specifying exception where the user agent default is not overridden.  Let me ponder that idea.

[2017-01-11 20:56] DavidMacDonald commented on #57
My instinct was "blocks of text" which is a familiar construct and I edited the SC. On the call some argued that blocks of text refer to more than 1 sentence, and there are times when there is less than a sentence that needs to be included. I personally prefer "blocks of text" but there are those who object. Here it is with "Blocks of Text".

[2017-01-11 21:23] mbgower commented on #9
I'd like to understand what folks perceive as the limit of the definition of "essential for understanding the content"
As an example, on this github page, the read-only comments previously posted by users are delineated by very low contrast rule lines and a low-contrast background 'header' section which lists the author's name and timestamp plus a toolbar (limited a React control for items one has

[2017-01-11 21:40] mbgower commented on #9
In one of the examples, it states there is a pharmacy website warning icon:

I'm not clear on why the two colors used in the image need to have a 4.5:1 ratio _between_ them. What does it matter if the icons colors do not have sufficient contrast amongst themselves? I don't think you can say that part of an icon contains "semantic meaning", in the same way a piece of a pie chart does. As long as th

[2017-01-11 22:13] mbgower commented on #71
Going to need to define "platform assistive technology". Some will recall the debate that arose about whether Zoom on iOS constituted an assistive technology (and thus could not be used to meet Resize Text).
I anticipate some headaches here, trying to distinguish between what Section 508 Refresh assigns to

features that are defined in the platform documentation as accessibility features

and what

[2017-01-12 01:37] DavidMacDonald commented on #71
I feel this is already covered under conformance requirement 5 non-interference
https://www.w3.org/TR/2008/REC-WCAG20-20081211/#cc5

[2017-01-12 16:33] patrickhlauke commented on #59
Having discussed this SC further with colleagues, I'm now almost convinced that perhaps this is not necessary. The main use case / failure I had in mind were sites/apps that use custom keyboard handling (e.g. listening to `keydown`/`keyup` to trigger actions), and how these would not work for users that only have a touchscreen interface WITHOUT the ability to raise an on-screen keyboard arbitraril

[2017-01-12 16:42] LJWatson commented on #43
This feedback is based on a collective review by @SteveFaulkner @PatrickLauke @JSpellman @Sarah-Horton and @LJWatson

Enabling people to find help easily is important, but it isn't clear exactly how this SC could be met.

What is a "user interaction"? If a single key press constitutes one user interaction, it seems this SC cannot be met for keyboard users?

If user interaction is defined more loos

[2017-01-12 16:57] awkawk commented on #59
I like the brevity of "All functionality can be operated with pointer inputs", but do which that we had more use cases for why this causes problems for PWD. For a site which doesn't pop up the keyboard for a custom text input, is that just a "this site not built for mobile" issue?

[2017-01-12 17:02] patrickhlauke commented on #59
well, it gives preference to users with an actual keyboard. but in the wild, it would impact every user on a touchscreen, or on some device that only has a mouse/trackball and no on-screen keyboard that can be raised arbitrarily...so not PWDs exclusively, but more of a "this site won't work for mobile etc users" yes

[2017-01-12 17:51] lauracarlson commented on #78
@allanj-uaag tested in Internet Explorer. Thanks Jim! Author inline `!important` is overridden by the user style sheet in the UA.

 @mraccess77 you are right the Stylish addon seems to apply the CSS at document level and not as a true user stylesheet. Thank you.

I updated the [test page](http://www.d.umn.edu/%7Elcarlson/wcagwg/tests/user_styles/important_spacing.html).

[2017-01-12 18:03] DavidMacDonald commented on #57
I just got off a meeting with the low vision task force and the consensus is to retire #57, this one on line length, and to focus on #58 reflow. So the LVTF is retiring this issue.

[2017-01-12 18:14] lauracarlson commented on #78
I asked at the January 12, 2017 LVTF meeting  for  hard examples of where authors are breaking user styles can be provided.

[2017-01-12 22:18] mbgower commented on #71
Thanks @DavidMacDonald. Perhaps I need to be more specific. In my experience, the non-interference conformance has tended to be used almost entirely to capture disruptions with keyboard shortcuts used by the OS to bring about their accessibility features. An example in Windows is the use of assigned keys to turn on High Contrast Mode (ALT+left SHIFT+ PRINT SCREEN). But with mobile, there isn't the

[2017-01-12 22:21] mbgower commented on #70
This seems to be a sentence fragment:

[2017-01-12 22:28] mbgower commented on #70
I'd like some more verbage around what constitutes "essential". For instance, would you consider the phone numeric keypad interface to fail on iOS because it cannot rotate to landscape? Or is the fact a design is made to fit a single orientation a sufficient argument? Or is the fact the UI is defined as a standard (ITU E 1.161) that cannot fit in landscape sufficient? Given your chequing example,

[2017-01-12 22:35] mbgower commented on #70
some typos and style issues: "e.g." should be "e.g.," ; " keyobard" should be "keyboard"
Also, not sure what you mean by "check deposit"

[2017-01-12 22:41] mbgower commented on #70
This sentence gave me pause. Shouldn't it be in the same order for focus and for meaningful sequence? Just because the line break alters, doesn't the order get retained?
In situations where it is not possible to maintain focus and meaningful sequence when changing orientation, I think that might constitute an example of essential.
Or is this intended to allow teams to redesign a UI to fit the othe

[2017-01-12 23:13] mbgower commented on #69
I need a clearer definition of "single character". I'm assuming you don't mean single key, since that would cause Delete, Backspace and all other operation keys to fail. Pressing a single alpha character in a Select element causes it to jump to the first item beginning with this letter. I would consider that carrying out an action. I'm assuming it would not be included in this. What about selectin

[2017-01-13 00:35] alastc commented on #58
@mbgower I think we're talking at cross purposes here.

Did you see this email to the thread? https://lists.w3.org/Archives/Public/w3c-wai-gl/2017JanMar/0202.html and the screencast? https://alastairc.ac/tests/layouts/resizing-scs.mp4

Reflow is the name of the SC, not necessarily the mechanism, perhaps we need to call it linearisability or something?

That is what some people with low vision need

[2017-01-13 02:46] patrickhlauke commented on #18
Quickfire comment (distilled out from the lengthy sidetrack conversation on the mailing list): I'd replace "...more than 1/3 of the webpage view" with "...more than 1/3 of the viewport"

[2017-01-13 11:24] joshueoconnor commented on #55
Assigned to Neil Milliken - https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:24] joshueoconnor commented on #36
Assigned to Neil Milliken - https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:26] joshueoconnor commented on #49
Assigned to Thaddeus Cambron (@inclusiveThinking) https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:27] joshueoconnor commented on #35
Assigned to Thaddeus Cambron (@inclusiveThinking) https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:27] joshueoconnor commented on #29
Assigned to Thaddeus Cambron (@inclusiveThinking) https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:29] joshueoconnor commented on #50
Assigned to EA @eadraffan https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:29] joshueoconnor commented on #51
Assigned to EA @eadraffan https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:33] joshueoconnor commented on #24
Assigned to John Rochford (@JohnRochfordUMMS) https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:33] joshueoconnor commented on #23
Assigned to John Rochford (@JohnRochfordUMMS) https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:37] joshueoconnor commented on #30
Assigned to Jim Smith (@jim-work) https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:37] joshueoconnor commented on #41
Assigned to Jim Smith (@jim-work) https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:37] joshueoconnor commented on #42
Assigned to Jim Smith (@jim-work) https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:40] joshueoconnor commented on #28
Assigned to Mike Pluke (@mapluke) - https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:46] joshueoconnor commented on #25
Assigned to Chaohai Ding - https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:46] joshueoconnor commented on #14
Assigned to Chaohai Ding - https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:49] joshueoconnor commented on #32
Assigned to Jan McSorley - https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:49] joshueoconnor commented on #6
Assigned to Jan McSorley - https://www.w3.org/WAI/GL/wiki/SC_Managers_Phase1

[2017-01-13 11:55] DavidMacDonald commented on #58
change short name to "Single column:

**Single Column:** Content can be viewed as a single column, except where:
* The content is in data tables which have more than one column
* Content contains interactive controls that cannot be reflowed
* The spatial layout is essential to the function and understanding of the content.

[2017-01-13 12:11] DavidMacDonald commented on #59
I support Patrick's proposal to retire this.

[2017-01-13 12:57] kwahlbin commented on #59
I am also ok with retiring this.  We may want to look at this again for Silver.

[2017-01-13 13:26] patrickhlauke commented on #59
agreed, together with a more holistic approach to user input, including the SC we retired about ensuring users can seamlessly switch between input modalities (e.g. go from mouse to touchscreen in the same session/interaction)

[2017-01-13 13:37] DavidMacDonald commented on #71
Perhaps I can clarify better. I don't think we need this SC because non-interference is substantially covered under conformance requirement 5 non-interference
https://www.w3.org/TR/2008/REC-WCAG20-20081211/#cc5.

I agree that the Conformance Criteria have largely been misunderstood, underused and ignored. We should address that through education and outreach. I don't think creating a Success Crite

[2017-01-13 13:46] alastc commented on #58
I'm not sure which option best indicates that the mechanism for making in single column can be done with the UA? What do you think about "Linearisation" as the short name?

Personally, I think data-tables and interactive controls should be covered under:

That can be confirmed in the understanding doc.

Therefore I'm leaning towards:

Except that it implies if any of the content relies on spatial

[2017-01-13 13:50] DavidMacDonald commented on #2
@mapluke
The main use case for #2  is using "aria-live" regions. Programmatic notification refers to providing the information to the accessibility API. This is a reasonably well understood part of WCAG for accessibility professionals doing audits. We avoid using the API term in the definition for a number of reasons.

Issue #54 only requires notification on the successful or failure of the comple

[2017-01-13 15:19] DavidMacDonald commented on #18
@alastc I think as per @nattarnoff above mentioned Let's set the threshold to 3 seconds  not 1 second. That will allow most CSS transitions and save a lot of testing time, which of course would focus on a stop watch an a 1 second boundary.

**Significant animation:** animation which continues for more than 3 seconds, and affects more than 1/3 of the view of the viewport.

[2017-01-13 15:37] DavidMacDonald commented on #58
I'm ok with that.... Word smithing to remove a few redundant words, might look like this:

[2017-01-13 15:38] alastc commented on #58
Ah, better, thanks.

[2017-01-13 15:39] DavidMacDonald commented on #58
OK I'll submit this as ready for group review.

[2017-01-13 20:05] Ryladog commented on #28
I too am of a mind NOT to combine. We need instinct, discrete, testable
requirements.

Katie Haritos-Shea
703-371-5545

On Dec 15, 2016 4:05 AM, "Lisa Seeman" <notifications@github.com> wrote:

[2017-01-14 00:22] marcjohlic commented on #70
Also, not sure what you mean by "check deposit"

I don't seem to have access to edit the text here, but noted - and will check and correct prior to submitting.

[2017-01-14 00:25] marcjohlic commented on #70
I don't seem to have access to edit the text here, but noted - and will check and correct prior to submitting.

[2017-01-14 00:54] marcjohlic commented on #70
@mraccess77 Do you recall what the above sentence was getting at?  I looked through the [edit history](https://www.w3.org/WAI/GL/mobile-a11y-tf/wiki/index.php?title=Proposed_SC_Orientation&action=history)  and came up with this correction.  Does this work?

"While the order of content and method of functionality may have differences, such as being exposed by a widget that expands or collapses, or

[2017-01-14 16:00] mapluke commented on #48
I think that there are three major issues to resolve here:
- the aim should be to keep the core of 3.2.5 as it is in WCAG 2.0 and look to create a new SC to require the mechanism to turn off changes to be "easily available";
- the addition of an exception like that shown must be the primary justification to elevate 3.2.5 from AAA to AA;
-  can "functionality, settings, route and orientation" all b

[2017-01-14 21:35] rachaelbradley commented on #54
I agree it needs coordination but I'm not sure it needs to be merged. I've added comments on issue #2.

[2017-01-14 21:44] rachaelbradley commented on #2
Sorry to weigh in late ,but comparing #2 and #54, I question whether we should be combining them.  Issue #2 addresses changes in content, regardless of whether it is initiated by the user or not. It is  placed in perceivable because the central focus is ensuring users are either aware of the change in content after the page is rendered, either through notification or through encountering the chang

[2017-01-14 23:08] mapluke commented on #28
I also agree that there is no need to combine them and that keeping them separate is the right way to go.

[2017-01-15 00:29] mapluke commented on #2
@DavidMacDonald
Your seven-word explanation of "Programmatic notification" is **exactly** what I would have expected it to mean. The problem I have is that the 52-word multi-clause sentence that is **supposed** to explain it is, in my view, almost impossible to parse. COGA guidelines suggest only one idea per sentence. Depending on how you count them there are probably six or seven ideas in this s

[2017-01-15 19:45] lseeman commented on #48
Hi Mike,
There is no problem including specifics in the SC. It makes it more clear.
We can say "context including functionality, settings, route and orientation" if you prefer, but if we take out orientation and rout people will have to read the blurb to understand that it is included. The more people can know what needs to be done by just reading the SC the better

[2017-01-15 19:48] lseeman commented on #28
I am ok with making it septate. I just combined them because of bloat

[2017-01-16 10:01] NeilMilliken commented on #36
"Interactive controls are available in a **standard style** that indicates how they can be used and what action it will trigger or have clearly labeled instructions that explains their use." I think that we need to define what a standard control is and add it to the glossary.  As a starting point for discussion I am suggesting the following:

"The qualities or properties of the control define its

[2017-01-16 13:13] mapluke commented on #48
@lseeman
SCs are supposed to be widely applicable and **meaningful in all contexts**. In a context where personalization is supported, mentioning "settings" will make things "more clear".  In navigation-related contexts, mentioning "route and orientation" will also make things "more clear". However in contexts where personalization is not supported or where the context is not navigation-related, p

[2017-01-16 13:50] lseeman commented on #48
I think it is meaningful in many situations, we can add glossary definitions of route and orientation if that helps. I think these use cases are so important that it is worth the extra word.
lets have a call to discuss if you still have an issue with it

[2017-01-16 15:52] mbgower commented on #18
Thanks for a great discussion on this. I'll weigh in on the broader topic, but I wanted to express my concern with the threshold. Here's the issue: how can time be used as a measure to capture failure when the animation 'response' only lasts as long as the user action. In other words, if I don't ever scroll for 3 seconds straight, I would never trigger enough animation to fail the threshold. That

[2017-01-16 15:59] patrickhlauke commented on #18
surely classic parallax scrolling affects the entire viewport, so crosses the "1/3 of the viewport" (using the more accurate definition here rather than "webpage view") with ease?

[2017-01-16 16:01] patrickhlauke commented on #18
however, excellent point about animations that are continuous for the duration of the interaction. in theory, they can be stopped/last a lot less than 3 seconds purely by virtue of the user stopping to scroll

[2017-01-16 16:04] nattarnoff commented on #18
While an individual element may take up less than 1/3 the viewport in a parallax animation, it's the combination of elements that cause the problem, so I would agree that parallax exceeds the 1/3 of viewport point.

[2017-01-16 18:09] eadraffan commented on #50
As the success criteria manager for SC 50 I am concerned that there is a note that states "It is a bit controversial to say that people with Aphasia, etc. are not in an intended audience. However, when we remove the intended audience clause this seems to become a AAA conformance criterion, which is more problematic. We are open to other alternatives."  Could someone please help me see how we can g

[2017-01-16 18:22] mapluke commented on #54
The SC says that the rapid feedback should be "visual" and "in the primary modalities of the content". When the primary modality of the content is visual this is **tautological**. However, when the primary modality is audible then this is a **contradiction**. I think that the "visual" is superfluous.

[2017-01-16 18:43] mapluke commented on #54
The final wording "Audio feedback is supported." seems to be very problematic. Firstly what exactly does it mean and secondly is it realistic to ask for it.

The glossary entry for "audio feedback" is a lengthy discussion of the merits and demerits of audio and visual feedback - a glossary entry should really define the term, so the current text is not suitable.

In comparing issue  [#2]( https://

[2017-01-16 18:57] mapluke commented on #28
@lseeman I'm not really sure what the:
**"Exception: If a specific structure is an essential part of the main function of the Web page."**
is supposed to address. This is not referred to at all in the "Description", "Benefits" or "Testability" sections - so there are no clues given.

[2017-01-16 22:31] DavidMacDonald commented on #2
@mapluke Updated the definition to simplify to one idea per sentence.

[2017-01-16 22:32] DavidMacDonald commented on #2
Issue 54 covers
* Changes that involve actions that have a "success or failure" outcome
* Visual feedback of that success or failure
* Programmatic Feedback (i.e., aria-live) of that success or failure
* Audio feedback of that success or failure that is *self generated* from the browser and web page (not a via screen reader)
* Settings to turn off this self generating audio feedback

Issue #2 cove

[2017-01-16 22:37] DavidMacDonald commented on #2
OR we could just leave them separate for the first draft

[2017-01-17 00:04] DavidMacDonald commented on #2
@rachaelbradley if we separate them you can leave out the programmatic part of #54 because it's in here.

[2017-01-17 00:43] rachaelbradley commented on #54
@mapluke and @lseeman What are your thoughts on moving the audio feedback into a separate AAA SC vs dropping it? My understanding is that the audio version of feedback can be important to support some cognitive disabilities but that the technology may not be standard enough for us to make this an A or AA standard at this time.

[2017-01-17 02:38] mraccess77 commented on #70
@marcjohlic "While the order of content and method of functionality may have differences the content and functionality is available." sounds good to me.

[2017-01-17 02:48] mraccess77 commented on #70
@mbgower regarding the bit about differences in content and functionality -- the intention was to allow for hamburger menus and other functionality such as hide and show buttons, etc.
Regarding consistency -- the above would not allow for consistency between orientations -- but I agree consistency within a single orientation is needed.  I think that is covered or should be covered by another SC.
R

[2017-01-17 05:42] mbgower commented on #62
I think guidance to authors on how to effectively and safely use keyboard shortcuts is useful. The techniques listed are examples of some of these, but as David notes they could be worked into 2.1.1.

This SC seems to be covered by [conformance requirement ](https://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance.html) 4. Only Accessibility-Supported Ways of Using Technologies.

Do we feel it is ne

[2017-01-17 05:42] DavidMacDonald commented on #70
Looks ok for a first draft to solicit public response. When I presented this at Toronto A11y camp, Mike Paciello asked what kind of studies had been conducted. I said not much, however, objectively a person without arm dexterity with a mounted device on a wheelchair cannot change orientations.

[2017-01-17 06:07] DavidMacDonald commented on #2
Most recent version is:

Programmatic notification is provided for each change in content that indicates an action was taken or that conveys information, unless one or more of the following is true:  <br />
1. The change immediately follows the control that triggered it, in the reading order.
2. There is an accessibility supported relationship between the new content and the control that triggers

[2017-01-17 08:03] lseeman commented on #54
Dont drop it. we can make sure the technology is ready by the time it goes to CRat worst laible that section at risk. Can we label one part of one Sc at risk?

Also it is , of course, completely doable today via short MP3's with a small javascript to make it optional. most programmers can do that in a day and it will be in stack overflow soon enough and then everyone can just copy the script. It i

[2017-01-17 12:28] lseeman commented on #39
lets change "Critical features" to " Critical controls"
and remove "important information
then we have " critical control are above the fold and are accentuated in the main modality of the content."
and change glossary to
critical control
    controls that are required to complete the main role or activity of the content

[2017-01-17 12:39] lauracarlson commented on #18
A 2015 parallax scrolling usability study turned up people who experienced motion sickness. [The Effects of Parallax Scrolling on User Experience in Web Design](http://uxpajournal.org/the-effects-of-parallax-scrolling-on-user-experience-in-web-design/) By Dede Frederick, James Mohler, Mihaela Vorvoreanu, Ronald Glotzbach states:

[2017-01-17 12:42] allanj-uaag commented on #78
Acrobat DC (not Acrobat reader) allows changes to line, character, and paragraph spacing, in editable PDFs. you can also change the font, font color, and font size.

[2017-01-17 12:46] lseeman commented on #34
some links
https://developer.mozilla.org/en/docs/Web/API/notification
https://www.html5rocks.com/en/tutorials/notifications/quick/
https://developers.google.com/google-apps/calendar/concepts/reminders
if needed we can make a script that does all of them via our coga sematics

[2017-01-17 12:46] lseeman commented on #34
we can have the script working by CR for personlizations

[2017-01-17 12:48] lseeman commented on #34
https://docs.api.ai/docs/reminders-and-notifications

[2017-01-17 13:13] lseeman commented on #51
If the other items are dealt with in other SC maybe we should just have this as a SC as a new SC:

"A mechanism is available for increasing line and border spacing around blocks of text, graphics and embedded elements and objects and regions, such that they can be increased up to 200% without loss of content or functionality.

Are the other items fully included in #58 #57  ?
@WayneEDick @lauracarl

[2017-01-17 13:15] lseeman commented on #51
https://www.w3.org/TR/wai-aria/roles#region

[2017-01-17 13:36] lseeman commented on #50
Let us remove the note and take out "Any content that is intended for a wide audience. " from the description and change it to "critical information about rights and freedoms"
and change the SC to

Extra Symbols: Provide symbols or pictures at the beginning of short sentences and phrases to aid understanding for critical content and services.

critical content and services are content and services

[2017-01-17 13:39] lseeman commented on #50
Hang on a sec. if the tooling is available (eg the IBM demo) for this to be automatic and personable why not just have
Extra Symbols: Provide symbols or pictures at the beginning of short sentences and phrases
level AA

[2017-01-17 13:51] lseeman commented on #50
Also the sematics are in https://w3c.github.io/personalization-semantics/ that are widely availible without using ibm tools

[2017-01-17 14:00] mbgower commented on #70
Since this is an authoring guide, maybe it is an understood subtext, but of course on an ipad, the device provides the user the ability to physically lock the orientation of the screen, and an OS may afford the user that ability globally via software. Do we need any language to support these "exceptions"? Could be as simple as modifying from "Content is not locked to..." to "Authors do not lock co

[2017-01-17 14:07] lseeman commented on #28
there is an exception for things like games or puzzles were a strange structure is part of the main function of the content

All the best

Lisa Seeman

LinkedIn, Twitter

---- On Mon, 16 Jan 2017 20:57:14 +0200 mapluke&lt;notifications@github.com&gt; wrote ----

@lseeman I'm not really sure what the:
 "Exception: If a specific structure is an essential part of the main function of the Web page."

[2017-01-17 14:08] lseeman commented on #54
It is addressed via the new personlization semantics . I think it is in the blurb

All the best

Lisa Seeman

LinkedIn, Twitter

---- On Mon, 16 Jan 2017 20:43:35 +0200 mapluke&lt;notifications@github.com&gt; wrote ----

The final wording "Audio feedback is supported." seems to be very problematic. Firstly what exactly does it mean and secondly is it realistic to ask for it.
 The glossary entry fo

[2017-01-17 14:32] mbgower commented on #70
@DavidMacDonald I understand that authors may choose to condense/expand some content based on orientation, however I'm not convinced that can't be done while maintaining the same reading and navigation sequences. Certainly many, many apps successfully do that right now.
Giving authors a pass on some pretty critical elements of WCAG doesn't seem like the best tactic. A simple message "Altering cont

[2017-01-17 14:35] eadraffan commented on #50
Lisa thank you so much for your time today and these ideas.  This is important as it could help so many people who perhaps we have not even thought about in SC50 but… We have a dilemma!

We have the suggestion of symbols for critical information and services as  Level AA with the addition of symbols to signpost important information and headings to aid navigation as a triple AAA

OR  the ability t

[2017-01-17 14:37] mapluke commented on #54
I'm not directly advocating that we drop the "Audio feedback is supported", but:

1. What it means needs to be clarified (the glossary entry doesn't help).
2. We need to show how it might be supported (I'm not clear in what way "it is addressed via the new personalization semantic" - we need a clearer pointer to where.
3. If its in the SC, it also needs to be in the testability section.

If we can

[2017-01-17 15:59] mapluke commented on #28
However the SC doesn't refer to "strange structure"s. I would have thought that it could be argued that **every** structure "is an essential part of the main function of the Web page" and hence the exception would mean that the SC **never applies**. Also, in its current merged form, this is adding a new exception to the current meaning of SC 3.2.4 (which I doubt will be acceptable).

[2017-01-17 16:49] mbgower commented on #71
Ah, okay, thanks. I assume that would also be your perspective for #62 ?
One point I would mention is that at IBM we introduced a checkpoint called "Accessibility-supported technologies only." Which lifts the conformance language as its short language:

It has been _very_ handy having this checkpoint against which we can fail applications for such scenarios as described in this SC.

[2017-01-17 17:03] johnfoliot commented on #58
From WG call of 01/17/17
What would happen if content was laid out in <table role="presentation"> - would that content pass or fail? Tables can be linearized today, although doing so may break the grid layout being sought by developers who might use code like this.

[2017-01-17 17:04] DavidMacDonald commented on #9
Is there an overlap with Issue #9 LVTF

[2017-01-17 17:06] DavidMacDonald commented on #36
Is there an overlap with Issue #9 and #10

[2017-01-17 17:06] DavidMacDonald commented on #10
Is there an overlap with Issue #36 and #9

[2017-01-17 17:26] alastc commented on #58
I assume that was tables? It would pass if it linearised well, and fail if it did not. It would be exempt if you lost information from linearising it.

[2017-01-17 17:51] jasonjgw commented on #62
I agree with the preceding comments. In addition, step 2 of the proposed testing procedure is problematic, and it raises concerns about the entire proposal. Suppose I'm an author and I test this with my ready to hand assistive technology that remaps certain keystrokes, so it passes. Then users access the content with different assistive technologies that map keystrokes differently, so it raises di

[2017-01-17 18:00] jasonjgw commented on #70
I agree there's a serious problem regarding what "essential" means here. Would it involve similar cases to those in which layout is essential for purposes of the requirement to enable enlargement without horizontal scrolling discussed elsewhere?

[2017-01-17 18:56] alastc commented on #70
Is it possible to lock web-content into a particular orientation? I thought that would be at the browser/OS level? I.e. not an author thing.

Or are we expanding WCAG to cover mobile apps, in which case isn't that quite a big change in scope?

[2017-01-17 19:06] mbgower commented on #9
@DavidMacDonald , yes I would see an overlap between the first bullet in #36 and this SC.
It seems like Clear content is mashing up "perceivable", as represented here, with "understandable", as represented by the concept of "clear".
 I would like to see contrast considerations removed from Clear Content so that it is primarily concerned with the principle of Understandable.

[2017-01-17 19:08] jasonjgw commented on #70
If we’re expanding WCAG to cover mobile apps, then that opens up all of the issues surrounding WCAG2ICT, non-Web software, etc. That’s surely an issue to be deferred to Silver.

________________________________

This e-mail and any files transmitted with it may contain privileged or confidential information. It is solely for use by the individual for whom it is intended, even if addressed incorrec

[2017-01-17 19:27] mraccess77 commented on #70
There is some level of support for locking the orientation for web content
https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Managing_screen_orientation
So the concern about native apps is moot in my opinion.  If it's possible to do in web and also applies to native apps then all the better to have this SC.

[2017-01-17 19:29] alastc commented on #70
Fair enough, concern withdrawn.

[2017-01-17 19:30] mraccess77 commented on #70
An example of essential might be for a billiards game or taking a photo of a check for deposit.

[2017-01-18 00:34] mbgower commented on #68
This proposal seems to be highlighting poor authoring habits that can be addressed through existing SC -- specifically using keyboard operability to support [conformace requirement 4](https://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance.html#uc-conf-req4-head) .

There is one mentioned which may have potential to be put into a more agnostic piece of guidance:

I would phrase this principle in th

[2017-01-18 00:46] mbgower commented on #67
In what way is this not already achieved by [2.11 Keyboard](https://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-keyboard-operable.html)?

In regard to the "device sensor is essential" language, I would like some concrete examples of this, as I am having difficulties imagining a situation where this isn't already covered by the exception language in 2.1.1:

Even though that obviously was

[2017-01-18 01:11] mbgower commented on #61
I'm trying to relate this principle to what exists for keyboard.
There is no author restriction to using multiple key commands. That is because the operating system is responsible for providing sticky keys, which ensure a single tap/switch can be used to sequentially connect keystrokes into a single command.
A similar thing seems to be occurring with mobile operating systems (in iOS, assistive tou

[2017-01-18 01:22] mbgower commented on #66
Agree with @alastc. Outlier situation. My comments on #61 Pointer Gestures and #67 Device Sensors would need to be resolved before I would want to tackle this.

[2017-01-18 01:38] mbgower commented on #59
+1 for retire.

[2017-01-18 02:50] mraccess77 commented on #10
Ø  Is there an overlap with Issue #36<https://github.com/w3c/wcag21/issues/36> and #9<https://github.com/w3c/wcag21/issues/9>

While there appears to be an overlap – the actual requirement for contrast seem different.

#36 is really making sure that control has contrast from its surroundings to make it appear as a separate control.

#9 is actually focused on the contrast of the actual control itse

[2017-01-18 03:15] mraccess77 commented on #70
@mbgower wrote " Do we need any language to support these "exceptions"? Could be as simple as modifying from "Content is not locked to..." to "Authors do not lock content to...".

I don't think we need an exception or to add "authors do not...".  The issue you bring up would be the same issue for other SC.   The content isn't blocking the change the user is in the case of the orientation lock -- s

[2017-01-18 04:18] mraccess77 commented on #67
@mbgower An example of essential sensor might be a pedometer.    Yes, the function could be made keyboard accessible -- each time I press a key it simulates a step.  but that would defeat the purpose of the activity for most purposes and thus is why we need the exception.

Regarding keyboard interface functionality -- In my experience some mobile platforms such as Safari on iOS do not pass through

[2017-01-18 05:29] GreggVan commented on #58
Hi

A few thoughts on reflow SC

you can’t linearize a table without breaking the relationships horizontally or vertically.

you can linearize but you need to linearize it twice — and even then you can’t alternately look at horizontal and vertical relationships without having to jump back and forth between the linearizations)

and if it is not a simple table….   You are pretty much hosed.

Tables

[2017-01-18 09:50] detlevhfischer commented on #68
"Where interactive content is removed visually from the UI, the interactive content should also be removed from keyboard operability."
Depending on how you interpret this advice, this might be seen as conflicting with the common pattern of invisible (but keyboard-accessible) skip links that are displayed once they receive focus.

[2017-01-18 11:55] patrickhlauke commented on #62
Agree that this would logically make sense to be added somehow to existing keyboard SC (likely only needing an explicit mention in understanding, plus technique). Context for having this as separate SC was that originally updates/additions to WCAG 2.0 SCs were not on the table...

[2017-01-18 14:02] mbgower commented on #60
I may be missing something here, but would not any short link like this #60 fail this criteria? If I open this page up on mobile device and the entire page is displayed, this link would be a wee speck on the screen.

[2017-01-18 14:24] mbgower commented on #60
![Screen shot from iphone 6s showing the current page](https://www.dropbox.com/s/ay1tddqy7m04eka/File%202017-01-18%2C%206%2007%2014%20AM.png?dl=0)
Even though this page is being handled dynamically by the Safari browser to size to viewport, the three character target "#60" in this image barely appear to meet this requirements. Any kind of 2-character footnote link would fail, I think. And of cours

[2017-01-18 14:24] kwahlbin commented on #60
Patrick mocked up an example where you can have a larger touch area for short links: http://codepen.io/patrickhlauke/pen/aBNREe

[2017-01-18 14:32] mbgower commented on #60
How about some language that restricts this to user controls other than text links, except where those links are functioning in another role (i.e., as a substitution for a button or menu item).

[2017-01-18 14:38] mbgower commented on #77
This comment is not specific to this SC, but is general in nature. Do you think it would be helpful if there was a 'simple language' goal that clarified the purpose without so much technical qualification? For instance, for this SC it could be: "Authors support the resizing and reflow of content as allowed by the browser."

[2017-01-18 14:46] mbgower commented on #62
Thanks for that clarification, Patrick. I'd be hopeful that modifications to the existing 2.0 SC that do not alter their essential character but extend the guidance to encompass current technology would be possible. I realize there are real considerations not only for backward compatibility but also for reducing complexity for reporting purposes.

[2017-01-18 14:49] mbgower commented on #63
I'll post the same comment I did for #62

This SC seems to be covered by [conformance requirement ](https://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance.html) 4. Only Accessibility-Supported Ways of Using Technologies.

Do we feel it is necessary to more explicitly capture such requirements in SC?

[2017-01-18 14:57] alastc commented on #77
Possibly, but in the guidelines section the SCs need to meet the [SC acceptance requirements](https://www.w3.org/WAI/GL/wiki/WCAG_2.1_Success_Criteria). Perhaps as the first line in the understanding document?

[2017-01-18 17:07] mbgower commented on #68
@detlevhfischer

I take your meaning, although a skip link, itself, is an accessible affordance for keyboard and I think could easily be worked in as an exception in the same way alternatives are excepted in other SCs (e.g., in 1.2.1, "except when the audio or video is a media alternative for text")

Accessible name is a [defined term](https://www.w3.org/TR/wai-aria/terms#def_accessible_name) and

[2017-01-18 17:44] mbgower commented on #67
@mraccess77

Okay, that's stretching the definition of "path of user's movement", grin,  but it still ties in with the overall _concept_ of the exception in 2.1.1. I guess what I'm getting at is that listing an exception for every technology separately wouldn't be necessary if the 2.1.1 exception wasn't so technology-fixated with 'drawing' the mouse coordinates through time. How about if we just u

[2017-01-18 17:48] mraccess77 commented on #67
@mbgower "Or better "...except those things that cannot reasonably be approximated by a keyboard" (or "simulated with")"

Things like geolocation can be spoofed on Android in a keyboard accessible way but it may invalidate an activity  -- such as playing Pokémon.  So I'd rather focus on invalidation of the activity rather than the feasibility.

[2017-01-18 17:50] mbgower commented on #67
Sure, that's fine. But as an overall concept, how do you feel about capturing this as revised exception language in 2.1.1?

[2017-01-18 17:56] mraccess77 commented on #67
@mbgower Changes to 2.1.1 is an optimal place -- however, I'd defer to others as to how/where that is best handled.

[2017-01-18 18:14] DavidMacDonald commented on #76
I don't know technically how a developer would do this? I don't see any techniques on this... I guess we are requiring the site to support client side custom CSS style sheet substitution, and then the new Style sheet added to the browser on the client side would direct the printer on the changes it forced into the client's browser? Is that what we are requiring?

[2017-01-18 18:28] DavidMacDonald commented on #74
I guess we are requiring the site to support client side custom CSS style sheet substitution, and then the new Style sheet added to the browser on the client side would direct the printer on the changes it forced into the client's browser? Is that what we are requiring?

[2017-01-18 18:39] lseeman commented on #28
Hi Mike
I think it might help your job as sc manager if we have a chat and try and resolve this and te other issues. The task is to build consensus
can you email me some times you are free tomorrow morning?

[2017-01-18 18:45] lseeman commented on #71
Can we merge in Standardized APIs #46
we would need to include:
things like spell checking and the right click menu is not disabled (augmented is fine)
content works with apis like nternet of Things that allow for simplified and personalized interfaces such as the ISO/IEC 24752 “Universal Remote Console Framework” standard
Can these be merged as usecase?

[2017-01-18 22:27] patrickhlauke commented on #76
I'd echo David's question...what are we actually expecting then? Is this more an SC aimed at user agents / native applications? Is there a common failure situation that we could at least document where a page/user agent/whatever fails?

[2017-01-19 05:43] GreggVan commented on #28
hmmm
I think this is too strict.   It means that if I have something in the top-of-the-page header on one page where it is large and styled to fit the header  (e.g. large white text because the header is dark green)  --   I am now prevented from using that functionality anywhere else in the website in any location other than the top of the page -- because I would have to do it in another color (wh

[2017-01-19 06:22] shwetank commented on #76
For both this and the one below

I think most browsers have facilities (either natively or even through certain browser extensions) do accomodate for this.

Moreover,

This once again needs to be done by the browser. As a developer, I would have little or no control over this. Even if developers provide a good print stylesheet for their website, the SC states that user can make changes to it and p

[2017-01-19 07:39] chaohaiding commented on #25
Possible an overlap with Issue #20 Safety and #6 Support Personalization.

[2017-01-19 08:02] mapluke commented on #28
I think, but haven't researched the sources for the best evidence, that the intent of this SC is valid.

I think that Gregg's example seems to suggest that it is the wording of "Styled consistently" glossary proposal that is "too strict" to work for the cases that Gregg cites.

[2017-01-19 08:09] chaohaiding commented on #25
The user information SC is possible overlapped with some parts of Safety and Support Personalization.

Suggestions to use hashed algorithms to keep sensitive user information. "Use known techniques to keep sensitive user information safe that can be used to identify that user may have a disability.Warn users of any known risk."

Suggestions for the Related Resources (optional): Issue papers: Issue

[2017-01-19 08:56] chaohaiding commented on #14
Looks good for me.

[2017-01-19 14:14] mbgower commented on #76
Unless anyone can expand on how this is an author responsibility, I would say it falls in the user agent domain and should be retired.  I couldn't find any background in the LVTF notes to explain the rationale. @slhenry or @emanser  can you give some rationale?

[2017-01-19 15:21] LJWatson commented on #58
This feedback is based on a collective review by @PatrickLauke @JSpellman, @IanPouncey and @LJWatson

The intent of this SC addresses a valid use case (one discussed by @alastc and @LJWatson as far back as <a href="http://www.d.umn.edu/~lcarlson/newsletter/vol_04_200507-200606/34.txt">Techshare 2005</a>), and incorporates important concepts like horizontal scrolling, but it appears to have quite s

[2017-01-19 15:23] LJWatson commented on #2
This feedback is based on a collective review by @PatrickLauke, @IanPouncey, @JSpellman and @LJWatson

This SC addresses a valid set of use cases, and appears to be practical and realistic to achieve. We have one small suggestion though...

"1. The change immediately follows the control that triggered it, in the programmatic reading order."

There may be times when a notification would be helpful

[2017-01-19 15:37] LJWatson commented on #40
This feedback is based on a collective review by @SteveFaulkner @PatrickLauke @JSpellman @Sarah-Horton and @LJWatson

We agree with the intent of SC2.4.10, but have reservations about making it a Level AA SC.

The <a href=
"https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-headings.html">Understanding SC2.4.10</a> information states:

"This provision is included at Level AAA because

[2017-01-19 17:49] lseeman commented on #50
compromise:

Extra Symbols: Provide symbols or pictures at the beginning or above critical short sentences and phrases to aid understanding for important information and for critical content and services.

critical content and services are content and services needed to prevent significant harm, risk or loss such as: significant financial loss, illness, injury or deterioration in a patient's condi

[2017-01-19 17:53] lseeman commented on #32
should we brake this up into many success cryteria suc as supply a summary for long content

[2017-01-19 18:11] mbgower commented on #64
As with several MATF items, to the degree comments accurately describe what is being sought here, it feels like existing 2.1.1 seems to cover the requirement.

Is the concern that "Keyboard" is too restrictive or not descriptive enough as a general Input guide? Perhaps what is needed is some text in 2.1.1 noting that Keyboard in WCAG is treated as a foundational input category which many other tec

[2017-01-19 18:24] mbgower commented on #63
There are a number of proposed criteria that all seem to be covering the failure of an application to support ATs or platform accessibility features.
Issue #71, Non-interference with Assistive Technology, is an umbrella SC which would seem to encompass the others, which include:
#62 Keyboard with AT
#63 Touch with Assistive Technology (this one)
#68 Speech Input (to a lesser degree)

There are spe

[2017-01-19 19:17] mbgower commented on #65
Just for my edification, are you differentiating between selection and activation, and does it need to be explained?
An [example from VoiceOver](https://support.apple.com/en-ca/HT204783) where the Touch Typing interaction is activated:

I'm assuming that in the context of this SC, entering the character is an example of an 'up event', but the selection of the key on the 'down event' is equally imp

[2017-01-19 19:53] patrickhlauke commented on #64
Imagine the scenario where I have a touchscreen-enabled laptop - this SC aims to make sure that even though a touchscreen is present, the site/app does not stop me from also using my mouse, and vice-versa. Nothing to do with keyboard (and both touch and mouse in this scenario do not "emulate or exploit" keyboard input, i.e. they don't look like a keyboard-like input to the site/app).

In this scen

[2017-01-19 21:02] lseeman commented on #47
To get rid of the bullets I suggest rewording to
2.2.4 Interruptions: There is an easily available mechanism to postpone and suppress interruptions and changes in content unless they are  initiated by the user or involve anֲ emergency
Level AA

Ia there any reason that this should not be AA?

[2017-01-19 21:55] mbgower commented on #64
Thanks for that explanation, @patrickhlauke .

I would concur that it is a consideration for all users, and it's not readily apparent to me how it places extra burden on PwDs or users of AT.

[2017-01-19 22:17] johnfoliot commented on #47
Is there a current definition of "easily available"? I am concerned that
this may be seen as too subjective - what is easy for some may not be easy
for others, and it is unclear how to accurately (and repeatedly) test for
this condition. Would you consider this alternative?

2.2.4(.1) Interruptions: Users must be able to postpone and suppress
interruptions and changes in content using an obvious m

[2017-01-19 22:19] allanj-uaag commented on #76
See the examples -
https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Printing_Customized_Text#Examples
User is able to change zoom level before printing, and apply styles.
However, the pages when viewed in the browser zoom to 200% just fine. but
when the user prints at 200% zoom...things fail at times.

On Thu, Jan 19, 2017 at 8:14 AM, Mike Gower <notifications@github.com>
wrote:

--
Jim Allan, Ac

[2017-01-19 22:34] johnfoliot commented on #76
Hi Jim,
If this is the problem we are attempting to solve, then a) we should come right out and say so*, and b) I'll echo the concerns voiced by others - what should the content author do to meet this Success Criteria?
(* in plain English - browsers break print output when content is zoomed)

If browser zoom + print "breaks" the printed output, what can I as a web developer (or better-yet/worse) a

[2017-01-19 22:47] allanj-uaag commented on #76
in plain English - browsers break print output when content is zoomed

since some pages work fine and other break. Some pages the browser zoom
reflows just fine...the print zoom breaks. To me it is an author CSS issue.
will be examining all of the pages to compare and find what in the CSS is
causing the issue.

On Thu, Jan 19, 2017 at 4:34 PM, John Foliot <notifications@github.com>
wrote:

--
Jim

[2017-01-19 22:47] patrickhlauke commented on #76
The problematic zoom here is independent from the regular zoom used for viewing/browsing. It's the zoom factor specific to the print preview (IE has similar setting; note Chrome does not have any zoom in its print preview/dialog).

Arguably it's a failing on the part of the browser's layout engine for print (it seems to strip out some CSS/styling, but not other things) by default. I guess the only

[2017-01-19 22:51] patrickhlauke commented on #64
to play devil's advocate, I could see how - taking the touchscreen / mouse / keyboard scenario, and assuming that a site, on noticing touch, defaults to just using touch - all users would potentially be *inconvenienced*, but potentially PwDs who have greater difficulty using the touchscreen over using the mouse or keyboard for whatever reason would find this far more problematic. Or how a user tha

[2017-01-19 22:53] johnfoliot commented on #63
Hi Mike,

+1
If you are proposing merging those 4 draft SC into one, I could support
that.

JF

On Thu, Jan 19, 2017 at 12:24 PM, Mike Gower <notifications@github.com>
wrote:

--
John Foliot
Principal Accessibility Strategist
Deque Systems Inc.
john.foliot@deque.com

Advancing the mission of digital accessibility and inclusion

[2017-01-19 23:52] alastc commented on #58
Thanks @LJWatson,

The intent is that the author wouldn't have to provide the mechanism for reflowing content unless they actively prevent it. I realise, especially reading the exceptions, that this is not clear yet. There has been some confusion in the group about this, and it has manifested in the language.

But to focus on the intent, a user would be over-riding the author styles. I made a litt

[2017-01-20 09:32] alastc commented on #76
Hi @mbgower, I think Allan has some good examples. @allanj-uaag is it ok to publish those links you shared with the LVTF yesterday?

The thing is that for some websites you can increase the size of content (e.g. with zoom) and they display ok, but then they have print stylesheets with fixed heights (I think) that makes the printed version unreadable.

There is some work to do for defining the tech

[2017-01-20 11:10] StommePoes commented on #68
@detlevhfischer I only have experience with one speech-rec program, but if I'm dictating (like into this text input), the text isn't seen as a command. I'd have to do a pause long enough for Dragon to check if what I said could be a command.

@goetsu This would be great (at least to have mentioned somewhere). Controls with icons are pretty hard to call out by name. If you happen to know the aria-l

[2017-01-20 14:39] detlevhfischer commented on #77
I realise this has seen a fair amount of criticism / change suggestions already so I am not sure this still helps..
As to the difference in resize behaviour between desktop and mobile:
A SC that asks for text reflow would act as an incentive to mobile browser makers to honor the user's system level settings of text size, and use heuristics to apply them to _main text content_ (in the same way as b

[2017-01-20 15:10] mbgower commented on #76
To the extent we can isolate author techniques that support or constrict this. More details, please. However, it's not _just_ an author CSS issue, right? As per my first comment

As well, depending on how a page is printed, this either relies on the user agent or operating system print functions. If those don't support zoom (as seems to be the case with the most popular browser, Chrome) then the l

[2017-01-20 16:04] detlevhfischer commented on #75
I would clearly separate requirements for the use of the title attribute from custom content displayed on hover. The example on the Perkins recruitment site is nasty but can this be called a custom tooltip? it seems  of another order. I agree with @goetsu that in 2.1 we should not invalidate the admittedly dated techniques served alongside WCAG 2.0, and with @mbgower that handling the title attrib

[2017-01-20 16:10] johnfoliot commented on #76
mechanism is available to allow users to print page content with the
presentation changes made by the user" to mean that the author is
responsible for providing a print function that supports this if there is
no other means; *these are authoring guidelines, after all*.

+10!

JF

On Fri, Jan 20, 2017 at 9:10 AM, Mike Gower <notifications@github.com>
wrote:

--
John Foliot
Principal Accessibility S

[2017-01-20 16:25] detlevhfischer commented on #74
@mbgower : As to ruling out CSS background images to provide contrast for foreground text:
I think the test would here be if removing the background image would cause the text to fail contrast requirements. The author may prevent this by specifiying text AND background colour in addition to using the background image.
If users specify colour combinations that fail SC 1.4.3 contrast, that is their

[2017-01-20 17:09] allanj-uaag commented on #76
On Fri, Jan 20, 2017 at 3:32 AM, Alastair Campbell <notifications@github.com

​there are updated examples on the wiki page
https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Printing_Customized_Text#Examples
​

​I think this is a good start. Removes "mechanism"​. Based on discussion in
the Low Vision meeting yesterday limiting the scale for printing to 200%
seems reasonable. All of the example page

[2017-01-20 17:54] mbgower commented on #6
As a goal, I am all for supporting personalization. As noted here,

But my concerns are also tied up in that same statement; "holding promise" is a difficult future vision to build a _current_ SC upon. My perception is that authors have no existing standardized semantics to cover this that aren't already requirements for other SC. Until such semantics are developed and adopted, it's pretty tough t

[2017-01-20 17:59] lauracarlson commented on #18
Hi all,

For the "Significant animation" definition can anyone  **not live with** either #1 or #2 or #3 as listed:

1. **Significant animation**: animation which continues for more than 3 seconds and affects more than 1/3 of the viewport.
2. **Significant animation**: animation which continues for more than 3 seconds and affects more than 1/2 of the viewport.
3. **Significant animation**: animatio

[2017-01-20 19:46] mbgower commented on #18
Currently, the definition reads:

So there is a measure for duration and for size. In my review of the Testability section, I'd suggested expanding the duration to include user action. So shouldn't one of your options include that? How about:

[2017-01-20 19:47] johnfoliot commented on #18
Hi Laura,

I am uncomfortable with #3, and have a preference for #1.

JF

On Fri, Jan 20, 2017 at 11:59 AM, Laura Carlson <notifications@github.com>
wrote:

--
John Foliot
Principal Accessibility Strategist
Deque Systems Inc.
john.foliot@deque.com

Advancing the mission of digital accessibility and inclusion

[2017-01-20 19:56] lauracarlson commented on #18
Hi @mbgower and  @ johnfoliot ,

I added a fourth option for the definition per @mbgower suggestion:

4. **Significant animation**:  animation which takes more than 1 second or is synchronized with a user action, and affects more than 1/3 of the view of the viewport.

Please let me know if you cannot not live with any of those 4 or have a preference. Thank you.

[2017-01-20 23:54] patrickhlauke commented on #18
#4 would get my vote

[2017-01-21 22:06] alastc commented on #77
Hi Detlev,

It has changed completely since TPAC, so I don't think any notes from that time are relevant. But on your points, are you essentially suggesting:

- Not to have an exception for mobile-style (non reflow) user agents?
- To re-write the description.

On some of the wording points:

Admittedly the phrasing of "Zoom functions preserve all spatial relationships" is not ideal, but it is gett

[2017-01-22 06:55] DavidMacDonald commented on #58
Wouldn't the exception cover it.

[2017-01-22 07:28] inclusiveThinking commented on #29
The phrase "the primary modality of the content" may be confusing. In the definition the term "modalities" is used to define itself. Is there another term or definition that uses less complex language?

[2017-01-22 07:39] inclusiveThinking commented on #49
Should the success criteria also include site navigation? The SC would read: "Help, **site navigation** and search forms are easily identifiable and available to the user in one or more of the following ways:

[2017-01-22 14:56] GreggVan commented on #58
Looks like it would to me

G

There will be a lot of debate about what does or does not fall into "essential to the function and understanding of the content.”  but a glossary item and the Understanding WCAG 2.0 (2.1?) doc could help there.

gregg

[2017-01-22 23:48] alastc commented on #18
Number 4. I think any need the 'or is synchronized', so it really comes down to:

- 1 or 3 seconds, and
- 1/2 or 1/3 of the viewport.

Given the trigger is of a similar nature to flashes for epilepsy, 3 seconds seems a long time. I also don't think that many things take 3 seconds but aren't continuous. 1 second allows quick animations to happen (e.g. menus), so it doesn't seem that difficult.

I d

[2017-01-23 11:26] detlevhfischer commented on #77
Hi Alastair,
thanks for your comments and clarifications!
First, has the draft on top of this page been updated anywhere? Are you collecting input to then edit the draft? (I also ask because I have picked up to SCs and am not quite sure what the process is).

You noted that I seem to suggest "Not to have an exception for mobile-style (non reflow) user agents"

I am just not sure whether an excepti

[2017-01-23 11:50] alastc commented on #77
Yes, but unfortunately in github only the issue creator can edit the description, so I'll ask Jim to update it in one go.

I've come to that conclusion as well, I"ll remove it in the next update.

That's great, thanks.

That is true, but not to 400%. There are reasons (such as lack of peripheral vision, tunnel vision) where you have a visual impairment, but don't want to increase the size of text.

[2017-01-23 13:37] detlevhfischer commented on #77
@alastc

400% is just an upper limit, and the need may rarely arise to size down (more modestly). That's why I still think _resize_ is the better (more generic) term, even though in most cases it is indeed = _increase_. But I'll leave it at that.

Yes, fine!

[2017-01-23 15:10] detlevhfischer commented on #65
@mbgower Regarding your Touchtyping with VoiceOver Example:
The SC Text states in its note that the

We are concerned here with activation. If we need a definition, how about

"Activation means that some user interaction via a pointer (e.g., a mouse click, a tap on the touch screen, or the contact of a stylus) triggers an action, which is usually the defined behaviour of a control. For example, th

[2017-01-23 16:21] lseeman commented on #49
I think that was at the next conformance level?

All the best

Lisa Seeman

LinkedIn, Twitter

---- On Sun, 22 Jan 2017 09:39:31 +0200 Thaddeus&lt;notifications@github.com&gt; wrote ----

Should the success criteria also include site navigation? The SC would read: "Help, site navigation and search forms are easily identifiable and available to the user in one or more of the following ways:
 —
You

[2017-01-23 16:41] lseeman commented on #6
Mike we have semantics that are freely available at https://github.com/w3c/personalization-semantics/
we have an open implementation at https://github.com/ayelet-seeman/coga.personalisation
Both Pearson and IBM are saying they will be implementing it once it is in a working draft so by the time we get to CR we should have everything

[2017-01-23 16:44] lseeman commented on #6
https://w3c.github.io/personalization-semantics/

[2017-01-23 16:56] lseeman commented on #32
Just to clarify. this used to be one very long SC. The techniques were how to meet it for diffrent content. D we prefer
A. the current format were the detail on how to meet it is in the scuffient tequences
B. The old format
C. Brake it up into about 6 new success cryteria for each case. for example :
 provide support for documents : For content with more then 200 words one of the following is true

[2017-01-23 17:20] mbgower commented on #18
As per @alastc's comments, I'd suggest the synchronized phrase needs to be there for all of them. So it does come down to his two bulletted considerations. I'm fine with option 4 as written, but I can live with any of the resulting combinations, as per Alastair's note.

[2017-01-23 17:33] lauracarlson commented on #18
Thank you @alastc and  @mbgower I updated the list of options.

[2017-01-23 18:51] johnfoliot commented on #18
I'm still struggling with the "1-second" piece - 3 seconds I can sort of
measure in this context, but 1-second? That would essentially ban all CSS
transitions, and that will likely not meet the wider review we still need
to undergo.

I'm with David MacDonald - 3 seconds should be the minimum bar.

JF

On Mon, Jan 23, 2017 at 11:33 AM, Laura Carlson <notifications@github.com>
wrote:

--
John Foliot

[2017-01-23 20:04] lseeman commented on #13
Are we all happy with this? I envision a short script in stack overflow making a lot of this automatic as soon as it becomes a requirement

[2017-01-23 20:07] lseeman commented on #47
Hello @johnfoliot

easily available (or easily available mode or setting) is defined above as

one or more of the following are true:

  -      can be set one time with as wide a scope as possible (such as using the standards of the OS, From ISO 9241-112 or GPII when available)
 -       has the option to save or change the setting, where available interoperably, but also for the scope of the set o

[2017-01-23 20:38] lseeman commented on #29
the primary modality of the content are the setting and  physical machine interfaces considered at design time such as screen, touch, speech or mouse
Is that clearer?

[2017-01-23 20:46] lseeman commented on #28
Can we change "are styled consistently" to "are available with consistent styles"

or add "a mechanism is available such that"

That way it can be handled via user setting , personalization such as using https://github.com/ayelet-seeman/coga.personalisation and it will not be too strict for the default version

the new version will be :
A mechanism is available such that  components that have the

[2017-01-23 20:57] lseeman commented on #54
Mike, the testability secsion is not full tests, just to give additional information on how to test it if needed. this is easy to human test. All you needed to do is add the word "auditory" to the test and you have it.
-Confirm there is a setting auditory feedback, set it for auditory feedback
- Trigger every user-initiated action
-confirm the correct  auditory feedback was received

I think "audi

[2017-01-23 20:58] lseeman commented on #52
it is defined in the glossary section

Easily available (or easily available mode or setting): One or more of the following is true:

    Can be set once with as wide a scope as possible (such as using the standards of the OS, ETSI or GPII when available)
    With the option to save or to change the settings, were available interoperably, but also for the scope of a set of Web pages
    Is reachab

[2017-01-23 21:00] lseeman commented on #49
If not we should add it

[2017-01-23 21:06] GreggVan commented on #28
excellent idea.

One size fits all — is not practical for broad inclusion

Personalization is available for all — is more practical and allows wider inclusion.

gregg

[2017-01-23 21:12] GreggVan commented on #52
Great

Thanks Lisa

Gregg

PS   Is there a typo at the end ?
             It all makes sense except the phrase "the path and the control conforms to all of the document"
             Can you explain that phrase?          Conform to what?

g

[2017-01-23 21:13] lseeman commented on #28
Consensus a a beautiful thing :)

All the best

Lisa Seeman

LinkedIn, Twitter

---- On Mon, 23 Jan 2017 23:06:40 +0200 GreggVan&lt;notifications@github.com&gt; wrote ----

excellent idea.

 One size fits all — is not practical for broad inclusion

 Personalization is available for all — is more practical and allows wider inclusion.

 gregg

 &gt; On Jan 23, 2017, at 3:46 PM, Lisa Seeman &lt;notif

[2017-01-24 00:40] alastc commented on #18
Hi John,

Can you find an example of such as CSS transition? I mean one that is:
- triggered by a user action,
- not an essential part of the action,
- Lasts 1-3 seconds.

I'm struggling to see that because the first two aspects preclude most CSS animation, as either they are essential (e.g. menus, playing something), or they are quick.

In some ways I'm not too bothered about 1 vs 3 seconds as mo

[2017-01-24 02:20] rachaelbradley commented on #54
Lisa, for the auditory feedback, based on the changes, I believe a sound defined to indicate success (the beeping when an outlook message sends for example) is acceptable and it does not need to be words. Do you agree or have I missed the point?

[2017-01-24 04:34] jmcsorle commented on #6
Hi Mike,

Thank you for your comment.  This SC has been assigned to me to manage.  It would be very helpful to learn from you what you think this still needs in order to be moved on to CR.  Specifically, I was hoping that you could provide some additional details about the following statement you made:  "My gut feeling on this is that in the near term personalization could comprise a series of tec

[2017-01-24 05:36] inclusiveThinking commented on #49
I checked Familiar Design (Enhanced) It does discuss navigation. I would think navigation might be an A however recall we agreed within in the TF to make it AA.

[2017-01-24 05:39] inclusiveThinking commented on #29
Yes, much. It is OK to include that as the term definition?
_primary modality of the content_ - the setting and physical machine interfaces considered at design time such as screen, touch, speech or mouse

[2017-01-24 09:45] mapluke commented on #28
I agree that:

- "A mechanism is available such that components that have the same type of information, or have the same function within a set of Web pages, can be styled consistently in the primary modality of the content."

does seem to overcome Gregg's original concern. I hope that this means we can stick with the existing proposed glossary entry for "styled consistently". We do seem to have so

[2017-01-24 09:52] mapluke commented on #28
In the "Proposal for modifying existing SC" survey there was a 20 to 4 majority against changing existing SCs at this time. So I can see no point in trying to push #28 as a revision of SC 3.2.4. Surely this will prevent it from being considered at this time? I don't think we sacrifice anything if it is considered as a stand-alone new SC.

[2017-01-24 10:06] mapluke commented on #28
I'm still not clear why we have the exception:

- Exception: If a specific structure is an essential part of the main function of the Web page.

In a previous comment you said that the exception is "for things like games or puzzles where a strange structure is part of the main function of the content". Not being into games and puzzles I'm not familiar with such "strange structures" - my concern is